[2016-06-01 02:31] stonier opened #4 "Licensing"
BSD/MIT? I'm fine with either.

These jobs need to be done for this repo, also [rqt_py_trees](https://github.com/stonier/rqt_py_trees) and [py_trees_msgs](https://github.com/stonier/py_trees_msgs).

**License File**

Usually I add a license file to an otherwise empty `license` branch, something I picked up from Damon Kohler.

**Referencing**

And then add a url at the top of each file pointing to

[2016-06-01 02:33] stonier opened #5 "Package Xml Tag Updates"
These jobs need to be done for this repo, also [rqt_py_trees](https://github.com/stonier/rqt_py_trees) and [py_trees_msgs](https://github.com/stonier/py_trees_msgs).

Some fields need updating
- Website
- Repository
- Bug Tracker
- Authors
- Maintainers

[2016-06-01 02:36] stonier opened #6 "Rocon Console -> Termcolor"
Not sure why I missed that there was a termcolor package when I made `rocon_console`. I suppose we should use that. I hate its syntax though.

Not urgent nor terrifically necessary though.

[2016-06-01 07:57] heuristicus opened #7 "Usage of rocon packages"
Do we want to keep using rocon packages? Might be a good idea to minimise the reliance on outside packages, like `rocon_python_comms` and so on.

[2016-06-01 08:19] heuristicus opened #8 "Code snippets for example usage"
Ensure correctness of existing snippets, and create ones where they are lacking, especially for any classes which are likely to be used often.

[2016-06-01 08:21] heuristicus opened #9 "Ensure documentation is up to date"
Check functions are correctly documented, removing parameters which no longer exist, and ensuring that all parameters are documented. A brief description of the function's purpose should also be provided for non-trivial functions.

Every class should have documentation about its purpose, and example usage (if relevant).
## Completed:
- [x] behaviour.py
- [x] behaviours.py
- [x] blackboard.py
- [x]

[2016-06-01 08:33] heuristicus opened #10 "Flesh out readme"
In particular, include information about how to generate and view documentation.

[2016-06-02 23:55] stonier opened #11 "Split core and ros into packages"
Not high urgency, but it would be nice to split `py_trees` -> `py_trees_core` + `py_trees_ros`

[2016-06-03 00:05] stonier opened #12 "Blackboard - print the unprintable"
Right now the blackboard expects every object stored therein to be printable. It will crash with a type error if this is not true.

Example failure (**tuples**):

[code]

results in:

[code]

[2016-06-03 00:10] stonier opened #13 "Selector Patterns"
While it is important to refrain from touching a core set too much, there are a couple of selector patterns that are becoming irrefutably attractive and should be easy to implement and use.

[2016-06-03 00:57] stonier opened #14 "Generating dot graphs from command line utility"
One practice we've moved to recently is to split `__init__` -> `__ini__` + `setup` where we do almost nothing in `__init__` and `setup` is where any runtime construction is done (most especially...ros comms).

This lets us:
- Instantiate the class offline
- Connect together behaviours in a (sub)tree offline
- Create a dot graph offline

which is super useful for doing design and documentation. I t

[2016-06-03 01:01] stonier opened #15 "Logging review"
I ad-hoc hacked a python logger when starting this, and that works usefully to get debug level logging across the board, even for non-ros behaviours.

I haven't really ever polished this or use a convention on where and what to log. Nor on how to get python logging and ros logging to co-exist like they do in smach. Could use a review.

[2016-06-03 01:02] stonier opened #16 "Convert the condition behaviour into a decorator"
This would reduce the amount of wiring we have to do in combinations by one.

Should be able to easily use the `Imposter` decorator now to do this...

[2016-06-03 01:03] stonier opened #17 "Timeout Pattern"
This is used so heavily, it would be good to have a creator for it, or at least document the convention that we use for it.

[2016-06-03 01:05] stonier opened #18 "Action Client Pattern"
Also used so heavily, we should have a default template for doing action clients in behaviours. Maybe a class to inherit from? Or at the very least documentation for a minimal example.

Interesting to note that all the other ros behaviour packages, even if they didn't go very far, almost always had this as their core example.

[2016-06-03 01:15] stonier opened #19 "Registering blackboard usage by a class"
Right now I do this in doc strings, e.g. [here](https://github.com/stonier/py_trees_suite/blob/c9028b20196abb5c19d7c1b26013075e79dbdcdb/gopher_behaviours/src/gopher_behaviours/park.py#L103), which is very prone to error and very quickly gets out of date. Despite these problems, it's essential when developing so I can keep track of what each behaviour is up to as soon as there are too many behaviou

[2016-06-03 01:22] stonier opened #20 "Revised decorator framework"
I get the impression that we're not really leveraging decorators as best we can. When designing, one should look to decorators first before creating an entirely new behaviour. Don't do that right now.

**List of Potential Issues with Current Decorators**

* What happens if we decorate a decorator? Unknown, untested, especially with the Imposters.
* No convenient way to show up in visualisations.
*

[2016-06-03 01:23] stonier opened #21 "First Release Job Discussion"
For discussion and listing what jobs are important leading up to a first release.

[2016-06-03 01:23] stonier commented on #21
**Job List - Essential**
- [ ] A simple, but reference demonstration with a robot - turtlebot + gazebo + kinetic?
- [x] Licencing, #4
-  [x] Package Maintainer/Authors, #5
- [ ] Decorators, #20
- [ ] Action Client Pattern, #18
- [x] [Documentation](https://github.com/stonier/py_trees_suite/issues?q=is%3Aissue+is%3Aopen+label%3Adocumentation)
- [x] Version numbers #23

**Job List - Backlog (Discuss

[2016-06-03 07:44] #6 closed, assigned to stonier

[2016-06-08 10:33] heuristicus opened #23 "Version numbers"
Need to work out what we're doing with version numbers. Currently the suite is at 0.2.0, and the others at 0.0.1. Should these be bumped together or separately? Probably separately, but I think it would make sense to start the release with all the packages having the same version number.

[2016-06-08 23:43] #5 closed, assigned to heuristicus

[2016-06-15 14:35] #12 closed, assigned to naveedhd

[2016-06-28 14:32] heuristicus opened #25 "Easier switching of subtrees"
Should be possible to switch out a subtree with just the name of the root node of the subtree passed to a function in the root node. Need to check duplicate names, use unique IDs, or some other method to ensure that you get what you want every time.

[2016-07-17 20:32] stonier commented on #4
Added license files in 91e45f5, and badge in the readme in 30cd6b8b. These are in the development branch so its alongside the rest of the code. I also added a license branch with just the license file in it for easy reference from headers/modules (the raw get url doesn't change over rosdistro's this way).

Also done for py_trees_msgs and rqt_py_trees.

Just a matter of checking that everything ref

[2016-09-13 11:14] heuristicus commented on #7
I went through the installation process, and had to install `rocon_python_comms`, `rocon_console` and `rocon_std_msgs`. If I was a random person installing this I'd probably wonder why there were these seemingly random packages required for something which seems like it should be pretty much a standalone thing.

Agreed that this isn't something urgent, though.

[2017-01-02 02:12] #23 closed

[2017-01-04 07:33] naveedhd opened #32 "Imposter's double initialise/terminate"
For behaviours wrapped in Imposter, the initialise and terminate are called twice.

[code]

[2017-01-04 07:33] naveedhd commented on #32
fyi @stonier

[2017-01-19 23:27] stonier commented on #32
Some analysis we did in a google doc, for reference:

## PyTree Axioms

Pathways used to call critical methods in a behaviour relevant to this discussion.

* `initialise()`
  * When a Behaviour’s or Composite’s tick starts and it is not currently running
[behaviour.py:228](https://github.com/stonier/py_trees_suite/blob/devel/py_trees/src/py_trees/behaviour.py#L229), [composites.py:254](https://git

[2017-01-20 05:22] #32 closed, assigned to naveedhd

[2017-02-14 07:13] stonier opened #35 "Separate core + ros"
Split the ros parts off into its own subpackage

[2017-02-14 07:16] stonier opened #36 "Core as a pypi package"
This would be useful and a nice experiment to see what can be done with catkin integration

[2017-02-14 07:17] stonier opened #37 "Intersphinx Mappings"
Get the ros package to link to core package references.

[2017-02-15 00:14] #35 closed, assigned to stonier

[2017-02-15 01:30] stonier opened #38 "Timeout decorators broke with imposter changes"
That is, the changes that went in for #34.

They no longer initialise properly (test is broken).

[2017-02-15 06:39] stonier commented on #15
Dropping this for now. It hasn't proved to be fundamentally important. Logging is more seriously enabled in ros via our snapshot visitors and bagging. The logging here in the core library can remain minimal as it serves only a minimal purpose for now.

[2017-02-15 06:39] #15 closed

[2017-02-15 06:40] #38 closed, assigned to stonier

[2017-02-15 06:41] stonier commented on #20
Looking bug free now after #34 and #38. But could still use someone to come in and actually design a great framework for these rather than imposter and friends that have grown up in a very ad-hoc way to hurriedly fill gaps.

[2017-02-15 06:44] stonier commented on #17
We got a decorator somewhere along the way....it works great and has a test for it now too.

[2017-02-15 06:44] #17 closed

[2017-02-15 06:46] stonier commented on #17
Went in with f4e2ef69 and got bugfixes for the test in 88ef1b0e

[2017-02-17 06:14] haryngod opened #39 "Couldn't get tip in composites When using meta."
I made sequence to be meta.
After I made it, it didn't update tip of sequence children.
I think meta is not able to update children's tip data.

[2017-02-17 07:52] stonier commented on #39
@haryngod need some simple demo code to make sense of what you mean :)

[2017-02-19 08:18] #16 closed

[2017-02-19 08:41] stonier commented on #39
@haryngod can you try that patch with your use case and let me know if it works?

[2017-02-19 13:45] stonier commented on #39
Changes are in the [stonier/tip](https://github.com/stonier/py_trees_suite/tree/stonier/tip) branch if you'd like to try that directly.

[2017-02-19 13:46] #4 closed

[2017-02-19 14:00] stonier commented on #8
Done.

[2017-02-19 14:00] #8 closed

[2017-02-19 14:01] stonier commented on #9
Steamroll it with [Napoleon](http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html) style as well now that we're only catering for kinetic (it's part of the core sphinx modules now).

[2017-02-19 14:03] stonier commented on #13
Closing this and opening a new issue for the protected children selector idea.

[2017-02-19 14:03] #13 closed

[2017-02-19 14:03] stonier opened #40 "Selector Pattern - Protected Children"
This has been one I've been pondering for a while. When interrupted by a higher priority activity, it is quite natural to want to pick up the original where you left off when the higher priority activity is finished. Selectors dont let you do this though, you have to start again.

Here we just mark a child so that if it gets interrupted by a higher priority sibling while running (again, not from a

[2017-02-19 14:04] stonier commented on #11
Done, but left it as `py_trees` and `py_trees_ros`. Too much delta for everybody otherwise and if I make a pypi package out of the base package, it's overkill adding the core part to it.

[2017-02-19 14:04] #11 closed

[2017-02-20 01:44] naveedhd commented on #40
+1

[2017-02-20 15:38] #7 closed

[2017-02-21 01:58] #36 closed, assigned to stonier

[2017-02-21 02:01] stonier opened #43 "Move py_trees out to its own repo"
It's a standalone package now - in pypi and could be in distros at some point. The ros parts are orthogonal and don't make sense to have to download for users if they're not using ros.

Of course, downside is you spread issues across multiple trackers, but that should not be a big problem here - the core `py_trees` is quite stable and the `py_trees_ros` packages will be doing mostly their own thin

[2017-02-21 05:26] stonier commented on #9
All the core modules done. The others moved out into `py_trees_ros`.

[2017-02-21 05:28] stonier commented on #18
Moved this issue to [py_trees_ros#1](https://github.com/stonier/py_trees_ros/issues/1)

[2017-02-21 05:28] #18 closed

[2017-02-21 05:30] stonier commented on #37
Moved to [py_trees_ros#2](https://github.com/stonier/py_trees_ros/issues/2)

[2017-02-21 05:30] #37 closed, assigned to stonier

[2017-02-21 06:29] stonier commented on #9
Documentation for this core library is now up on [readthedocs](http://py-trees.readthedocs.io/en/latest/index.html).

[2017-02-21 06:29] #9 closed

[2017-02-21 06:29] stonier commented on #43
Done.

[2017-02-21 06:30] #43 closed, assigned to stonier

[2017-02-21 07:13] stonier commented on #10
Done...documentation links, installation, development instructions.

[2017-02-21 07:14] #10 closed

[2017-02-21 16:26] stonier commented on #21
These others have been moved out to their own issues or to `py_trees_ros`.

[2017-02-21 16:26] #21 closed

[2017-02-23 00:22] stonier opened #45 "Drop doc deps in install_requires"
Straw plan:

* [x] Drop them in `install_requires` in 5d69fe7a
* [x] Put them in `rtd-requirements.txt` in 8ffc61e4
* [x] Stop installing in a virtualenv on read the docs
* [x] Tell it to use `rtd-requirements.txt` instead

[2017-02-23 05:08] stonier opened #46 "Behaviour Index"
A page dedicated to just list up all the behaviours available in this package.

* Should be in the 'reference' group
* Should just be a link and synopsis to documentation in the module api

[2017-02-27 14:02] #14 closed

[2017-02-28 03:07] stonier opened #48 "Imposters on composites do not permit visiting"
The imposter as it is uses the `tick_once` method of the original, so if that original is a composite, it doesn't yield any of the children. This results in no visitation rights and subsequently it does not show properly in `rqt_py_trees`.

[2017-02-28 03:46] #48 closed, assigned to stonier

[2017-03-06 06:38] naveedhd commented on #40
@stonier Consider the situation where Selector has a Sequence as it's first child(higher priority) and Sequence returns False. On the next tick of Selector, the Sequence will restart (because of of Invalid state) causing interrupt in any running behaviour after the Sequence.

I think it's not intended by the Selector. Let me know if you need more details or want me to make a separate issue.

[2017-03-06 19:49] stonier commented on #40
Separate issue would be good. Answer the below there too.

That interrupt should only happen if the sequence restarts (initialise())  and returns running or true in that first tick. If it is immediately returning false it should not interrupt. Is this happening?

[2017-03-08 01:49] naveedhd opened #49 "Sequence(Composite) under Selector"
*copied from other issue:* Consider the situation where Selector has a Sequence as it's first child(higher priority) and Sequence returns False. On the next tick of Selector, the Sequence will restart (because of of Invalid state) causing interrupt in any running behaviour after the Sequence.

*for the question:* That interrupt should only happen if the sequence restarts (initialise()) and returns

[2017-03-08 01:57] naveedhd commented on #49
If we have the following tree:

[code]

The ticking would be like:

[code]

The above shows the `Success` and `Failure` under `Sequence` would run repeatedly.

For a more specific example of what we have, We have a docking controller under a Sequence and a Failure sound interaction (with running time of 1sec). When docking controller fails, it should return the sequence with failure and play the s

[2017-03-08 02:01] naveedhd commented on #49
I suppose this is due to explicit [Invaliding](https://github.com/stonier/py_trees/blob/devel/py_trees/composites.py#L479-L486) the child nodes under sequence.

[2017-03-08 05:16] stonier commented on #49
Your demo scenario is I think not exactly matching your problem.

Firstly, re-initialising the sequence and its children immediately (indirectly, invalidating the children is a first step to paving the way for subsequent child initialisation) is expected. Selectors will always pop into the highest level child every tick. However, this will only interrupt a running second child if the sequence retu

[2017-03-08 05:21] naveedhd commented on #49
This is very clear and precise. Thank you very much.

[2017-03-08 05:26] #49 closed, assigned to stonier

[2017-03-08 09:06] naveedhd commented on #49
Interestingly, the Chooser also returns FAILURE if the sequence child under is FAILURE:

![docking](https://cloud.githubusercontent.com/assets/3486082/23697135/e725cea4-0429-11e7-8f57-08050fc5c0a6.png)

[2017-03-08 11:55] stonier commented on #49
Ah this looks perhaps like a logic bug then. Will explore more later

[2017-03-24 17:04] stonier commented on #49
@naveedhd could you open an issue for this one? And if you'd like, take a shot at solving it?

[2017-03-28 08:31] naveedhd commented on #49
Yes I will do it.

[2017-03-29 08:57] naveedhd opened #50 "Chooser - child late failure misfunction"
Some symptoms were mentioned in issue #49 but this issue is related to  logic in `Chooser's update()`. When the current_child returns `Failure` late (after the first tick/assigned as the current_child), the Chooser will return `Failure` not running the remaining children.

The following is an example case which can produce this issue:
![chooser](https://cloud.githubusercontent.com/assets/3486082/2

[2017-04-02 17:54] stonier commented on #50
Hmm...this one is actually intended behaviour. Tried to get my head back into it to work out why I thought eventually there was a logic bug, but cannot remember.

Here's a script that lets you help test chooser scenarios:

[code]

The three scenarios therein all work as intended (specially note the third one. It doesn't fallback to success when the first child is `running - failure`, but does on t

[2017-04-10 02:33] #45 closed, assigned to stonier

[2017-04-13 02:17] yotabits opened #52 "Realease ROS Debian package"
Do you have any plan for releasing this package into a ROS Debian package?
If so let me know maybe I can work on that.
@asmodehn wants me to work on releasing packages :)

[2017-04-13 02:36] stonier commented on #52
It's released in [kinetic](http://repositories.ros.org/status_page/ros_kinetic_default.html?q=py_trees) so I am guessing you mean indigo?

I hadn't planned to release in trusty-indigo as I don't have any machines to test on and not enough coverage yet.

[2017-04-13 05:09] yotabits commented on #52
Yes indigo, sorry for the lack of precision, we will wait to move on kinetic so.

[2017-04-13 14:59] stonier commented on #52
Feel free to make your own release for indigo if you want/need one.

[2017-04-13 15:00] #52 closed, assigned to stonier

[2017-04-19 08:20] naveedhd commented on #50
If it's intended behaviour, then this is fine!

nice script and console output though. :+1:

[2017-04-19 08:20] #50 closed, assigned to naveedhd

[2017-04-19 21:31] stonier commented on #50
Probably should turn that script into a test....don't have anywhere near enough coverage as I'd like in py_trees

[2017-05-02 16:29] jr-bor opened #54 "Error when using meta.oneshot"
I will first explain my tree as a context, then the problem and my solution and then we can discuss if actually I am facing my tree correctly.

I want to have an "assisted move base". This means that the robot will try to go to a place and if it arrives we are happy. BUT if the has been any problem (i.e. goal blocked) then a message appears in a HMI where the user can press "cancel" or "retry". I

[2017-05-03 10:09] jr-bor commented on #54
I found out my problem! It might help someone:

The problem was that I was doing
[code]
instead of
[code]
Subtle typo, but there it is.

[2017-05-03 10:09] #54 closed, assigned to nobody

[2017-05-15 01:59] stonier commented on #54
Sorry for the delay, glad to see you sorted it out :)

[2017-05-22 15:05] stonier commented on #39
This is in now and seems to be working satisfactorily, except for the fact that the tip name is off by an underscored prefix - see https://github.com/stonier/py_trees_ros/pull/33 for discussion. That problem will be followed up on separately.

[2017-05-22 15:06] #39 closed, assigned to stonier

[2017-05-24 06:31] naveedhd opened #56 "Imposter's `name` while iterating through `parents`"
While iterating the parents using `has_parent_with_name()`, the imposter decorated behaviour will return the name with preceding `_(underscore)` as also noted in  https://github.com/stonier/py_trees_ros/pull/33.

Some of Imposter's naming modification was done in #34. Need to review that and also take a look in all ways names are accessed.

[2017-05-31 09:23] naveedhd opened #58 "TypeChecking in Timer"
If we set the `duration` of `Timer` to other than int/float. It will crash at `initialise()`. I think it should either crash/fail-setup beforehand or try and typeconvert it (value passed as string e.g `'1.0'`).

Maybe this applies to other behaviours also.

[2017-05-31 13:55] stonier commented on #58
Good idea. How about throwing if it's not an int or float?

[2017-06-07 07:02] #58 closed, assigned to naveedhd

[2017-06-18 00:55] stonier commented on #20
The most immediate job here is to identify whether decorators of decorators work with the current design. That should be something done ASAP so we don't have a broken system and so we know if we're throwing away work on the imposters.

An actual implementation that fixes or simplifies (as well as visualising better), I imagine a 'do as needed' approach is sufficient.

[2017-06-27 09:41] naveedhd commented on #20
**"What happens if we decorate a decorator? Unknown, untested, especially with the Imposters."**

If by decorators we mean the meta behaviours in py_trees, then decorated decorator work! an example:

[code]

outputs:

[code]

A trivial issue on a side is that `Visitor` do not trickle down the decorator.

[2017-06-27 09:47] naveedhd commented on #20
For the visualisation, I would prefer a separated nodes in rqt for the imposter and original with each having it's status color, something like this:
![decorator.png](http://aigamedev.com/static/decorator.png)

Currently we have a glitch with that meta node colors in rqt are not represented currectly.

[2017-06-27 10:13] #56 closed, assigned to naveedhd

[2017-06-27 10:25] naveedhd commented on #46
What is missing from the already listed in Module API section?

I am unable to see the synopsis in the sphinx docs but it's there when building docs locally. Is this an issue with the docs?

[2017-06-27 13:21] stonier commented on #46
Yes, indeed. Looks like autodoc has failed.

[2017-06-27 13:37] stonier commented on #46
module api now showing up after 4581b5d1 and 7bdbaaaf

[2017-06-27 13:39] stonier commented on #46
Was thinking of having a succinct list without all the other noise. It's far from urgent though and the module API probably really is enough.

[2017-06-27 13:39] #46 closed, assigned to stonier

[2017-06-29 12:46] stonier commented on #20
That's a good find.

[2017-06-29 12:48] stonier commented on #20
Agreed. Even better, a check widget to enable/disable the visualisation of the children inside the top level decorator (large trees are going to blow up even further).

[2017-07-07 07:46] joao-alex-cunha opened #62 "Parallel Composite Termination"
I'm having issues with getting a parallel node to terminate.
Consider the following situation. You have two behaviours A and B that run in parallel. At instant t behaviour A returns success while B is still running. At instant t+1 B returns success. This should make the parent terminate. However this isn't happening. Since the parallel composite ticks ALL its children, a children that terminates o

[2017-07-07 12:13] stonier commented on #62
The kind of logic for that policy (`SUCCESS_ON_ALL`) is fine and fits certain use cases. What you are looking for is a different kind of logic. I think it's reasonable and likely to be a common use case. The most important point here is that I can't think of any easy way to implement what you'd like to do without creating an additional policy for parallels that caters for it.

[2017-07-07 12:14] stonier commented on #62
If you'd like to create a PR with a new policy (`SUCCESS_AFTER_ALL`?) and implementation for parallels, I'd be happy to review it.

[2017-07-14 12:53] naveedhd commented on #62
@joao-alex-cunha If the child A doesn't necessarily have to restart again after Success, you can decorate it in `meta.oneshot`. In this way it will keep it's status until child B finishes.

[2017-07-14 13:04] naveedhd opened #63 "Design by YAML"
What do you think about the generating trees by parsing yaml file.

something like
[code]

I'm not sure if it would be useful for writing big but for small scripts (that I usually write to learn/verify) could be useful.

[2017-07-17 00:33] stonier commented on #63
I have no strong objections. Python should still be the first class citizen, but there are cases requiring serializable formats. YAML is ok, JSON might be an alternative so you can communicate with web apps (e.g. behaviour3's [JSON format](https://github.com/renatopp/behavior3js/wiki/JSON), check out the [editor](http://behavior3js.guineashots.com/editor/).

Other thoughts:

* a parameter list for

[2017-08-02 10:04] naveedhd commented on #20
Just to test, I implemented alternative decorators just like `composites` by subclassing `Composite`, so the viz would treat them as such. It was straighforward from there to viz this:

![decorator](https://user-images.githubusercontent.com/3486082/28868626-56e08acc-777a-11e7-821a-901592afbc75.gif)

I also found that implementing decorators this way was, a bit basic but, easier and maybe a bit cle

[2017-08-16 11:10] naveedhd commented on #20
@stonier following from the above comment, I converted all the meta behaviours using this way, and was somewhat successful:

![decorators](https://user-images.githubusercontent.com/3486082/29360578-e355a5e6-8283-11e7-8cf2-3260b8b6d4c8.png)

these branches contain the code implemented:
* [py_trees*](https://github.com/stonier/py_trees/tree/naveed/experimental-decorators)
* [rqt_py_trees*](https://g

[2017-08-20 17:38] stonier commented on #20
Having a decorator type seems the thing to do. Why exactly does it need to inherit from `Composite` though? Is it using some of the composite functionality? Does this interfere with the way the Imposter inherits from `Behaviour` currently?

Did the hexagon's not work? They might take up less visual space than the diamonds.

[2017-08-20 18:58] naveedhd commented on #20
Started implementing using `Composite` so `rqt_py_trees` would make trees out of it, but nothing else is being utilised from the composites so should subclass from `Behaviour`.

Agreed, I will change it to hexagon.

[2017-08-21 07:12] naveedhd commented on #20
The reason for making a separate class (since in current `Imposter` class is already present) was to treat original as a `child` so in `BehaviourTree.msg`, we can publish both the imposter and original as separate fields containing `status` and connected by `child/parent-id`.

[2018-01-12 21:06] aadeshnpn opened #65 "Running in Python 3"
Py_trees doesn't work in Python 3 but I didn't see anywhere in the docs that it only runs in python 2.7.  What is true?

[2018-01-12 21:09] aadeshnpn commented on #65
Below is the error message
![image](https://user-images.githubusercontent.com/1760420/34895264-300e93c8-f7a2-11e7-8dbd-f99f861faddb.png)

[2018-01-16 14:33] stonier commented on #65
Absolutely right. Hitherto we have not run, nor tested on Python 3 (nor had the need to).

Thanks for #66. I'll take it for a run with all the tests and demos on the weekend.

[2018-01-16 17:40] aadeshnpn commented on #65
I have already made the changes for python3 and submitted a pull request. You can verify the pull request.

[2018-01-22 05:30] stonier commented on #65
Thanks, now merged (#66)...but only on the devel branch right now.

[2018-01-22 05:30] #65 closed, assigned to stonier

[2018-01-26 21:52] aadeshnpn opened #67 "Implementing Repeater decorator"
I am trying to implement Repeator decorator using py_trees.

    def repeter(cls):
        def _update(func):
            @functools.wraps(func)
            def wrapped(self):
                while True:
                    self.original.status = cls.update(self)
                    if self.original.status == common.Status.FAILURE:
                        break
                return common.Status

[2018-01-31 17:36] pirobot opened #68 "Is a graphical editor planned?"
Great to find this awesome implementation of behavior trees.  Are you planning to develop a graphical editor for building trees?  If not, I was thinking of try to find someone to make one.  There are some really nice BT editors for the Unity game engine and they make it easy to construct complex behaviors, especially for robotics.

[2018-02-05 04:41] pirobot opened #69 "Basic question about status colors in rqt_py_trees"
I am running the tutorial_two.launch example and when the battery is OK, the "Battery Check" selector is **red** in rqt_py_trees because of the py_trees.meta.success_is_failure decorator applied to it.  I understand why the decorator is needed for the parent Priorities selector to work properly, but I find the red color of the "Battery Check" in rqt_py_trees counter-intuitive when in fact the batt

[2018-02-08 05:22] stonier commented on #69
You can (I think) do it without decorators by converting the check to a parallel and switching the idle/flash behaviours:

[code]

The logic is correct in both cases so I would claim that the gui should find a way to intuitively represent both cases. You're right, since the gui doesn't support showing decorators very well at the moment, it can be a little confusing. That was always a todo, but we

[2018-02-08 05:39] stonier commented on #68
We prioritised 1) monitoring 2) logging and replay and finally 3) editor since our use case was development for a product. If we were trying to sell it as a product, use it as an instructive tool or put it in the hands of non-developers, those priorities would probably have been flipped. We always had developers and directly in python with offline tools (e.g. dot graph generator) always proved suf

[2018-02-08 06:06] stonier commented on #67
The original class' update will already be called by the imposter's tick, so no need for `cls.update(self)`. That is probably the primary source of your problems.

Be careful with the idea of a repeater. What you have here is a behaviour that can get 'stuck' and stop the entire tree for ticking over. What you are looking for instead, is a decorator that returns `RUNNING` unless the original return

[2018-02-09 17:03] #68 closed, assigned to nobody

[2018-02-09 17:11] #69 closed, assigned to nobody

[2018-02-09 20:28] aadeshnpn commented on #67
Thanks. After going few papers and resources, the behavior tree has lots of decorators dealing with RepeatUntilTrue, RepeatUntilFalse and others. So I wanted to have those decorators in this implementation as well.

[2018-02-10 17:26] stonier commented on #67
Indeed, they came up on the whiteboard when we were designing tree logic often. Just never ended up using them. Send us a PR if you get an implementation working!

[2018-02-10 17:26] #67 closed, assigned to stonier

[2018-03-20 15:46] pirobot opened #71 "Pre-emption with pause/continue?"
I have a patrol task where I want my robot to move through a sequence of waypoints using a move_base action client.  At the same time, I want the robot to return to the base to recharge if the battery falls below a threshold.  Once recharging is complete, I'd like the robot to continue its patrol where it left off--i.e. proceed to the last waypoint that it had not yet reached at the time the patro

[2018-03-30 03:59] stonier commented on #71
I typically use the blackboard for 'memory'. The tree is 'decision making' on that memory.

[2018-03-31 12:23] #71 closed, assigned to nobody

[2018-05-08 17:37] OlgaPaw commented on #65
When new version is planned to be released?

[2018-05-10 01:42] stonier commented on #65
@OlgaPaw are you looking for the python 3 functionality specifically? And release in pip or ROS?

[2018-05-14 17:58] aadeshnpn commented on #65
@OlgaPaw you can use my fork version of py_trees. It works with Python3

[2018-05-15 20:52] stonier commented on #65
0.6.0 is now up on pypi, with python2/python3 support. We had to take some additional care of the enum34 dependency.

Looks like we'll be using it at my new company too, so I'll be tinkering on this more frequently!

[2018-05-15 20:52] stonier commented on #65
Releases to come for ROS1 melodic and ROS2 bionic as well.

[2018-05-18 14:00] stonier opened #76 "Python3 Doc Generation"
Switch dependencies to use python3 versions (e.g. python3-sphinx-argparse) and test on bionic (pending having a bionic installation around to play with).

[2018-06-25 15:44] stonier opened #77 "Drop args, kwargs to Behaviour.__init__"
I cannot recall why these are necessary. If not, should drop them so they don't encourage similar patterns of usage - i.e. use kwargs sparingly and only when necessary so code is readable and not operating in mystifying ways.

[2018-06-25 15:45] stonier commented on #77
FYI @sachit-tri.

[2018-07-03 15:56] stonier opened #79 "PyTrees Release v1.0 - Crystal"
Use [demo_nodes_py](https://github.com/ros2/demos/tree/master/demo_nodes_py) as a reference example.

* [x] Compile with colcon
* [x] Tests with colcon and nosetest, with reports
* [x] Linter for pep8
* [x] Make sure we can still generate docs
* [x] Make sure we can still pip it
* [x] CircleCI devel branch testing
* [x] CircleCI lint tests
* [x] CircleCI pre-merge PR hooks
* [x] Fix rosdep woes &#

[2018-07-06 22:01] sachit-wp opened #80 "Imposter class assumes that name is always first argument in a behavior"
the line
[code]
in meta.py makes the assumption that name is always the first argument to any Behavior which may or may not be the case all the time. For Example, I could have a custom Behavior class as follows:

[code]

[2018-07-14 00:29] stonier commented on #80
So #81 fixed the `erroneous` situation where it would pull the name from the first argument and potentially use the wrong thing if a user created a behaviour which did not have name as the first argument (or if at all).

What it does now though, is always set the name to `_Imposter` if the name isn't provided via `**kwargs`. This loses some richness in the naming of behaviours if the keyword namin

[2018-07-16 08:06] stonier commented on #80
Solved in #80.

[2018-07-16 08:06] #80 closed, assigned to stonier

[2018-07-27 12:30] fredrikbaberg opened #83 "Does not work on Windows?"
Hi,
I'm trying to run some code on Windows 10, which works on Ubuntu.

When trying to run, I'm getting errors that modules are missing. First it was `fcntl`, which I "solved" through a dummy file (as in https://stackoverflow.com/a/25471508). Now it's `termios`, which I can't find a solution for.

Is it possible to modify py_trees to also run on Windows?

OS is Windows 10, Python 3.6 installed usin

[2018-08-01 16:41] fnivek opened #85 "Sequence without memory"
Before switching to py_trees my lab was using [https://github.com/miccol/ROS-Behavior-Tree](url). This software had the concept of a sequence and fallback(selector) with memory or without. py_trees has memory and memoryless fallbacks the chooser and the selector respectively. This is not the case for sequences. py_trees sequences are basically ROS-Behavior-Tree sequence with memory.

Is there a re

[2018-08-01 17:38] fnivek commented on #85
Would something like [this](https://github.com/stonier/py_trees/pull/84/commits/104f28bb2d0f4a9e3192aef41b943f038243e9c0) work?

[2018-08-03 08:27] stonier commented on #83
Never tried it on windows, but it should not be much work to get it there. I don't have, nor use `py_trees` on windows, so ideally it would need another developer to step up and make sure it is always tested and works beyond the unit tests and hello world examples.

Having said that, feel free to float a tentative PR that we could use to discuss where the code would need to be modified.

In this c

[2018-08-14 17:47] sachit-wp opened #86 "Execution Bug using a oneshot decorator for a Sequence that affects a sibling Selector"
Please see the attached examples provided here.

The differences between these files is on line 19 where a sequence has a oneshot decorator on it.

If you run the test py_trees_fail.py you will notice that the selector node going by the name "Selector" does not tick the Failure node going by the name  "Failure" after the first tick, even though it is supposed to.

Removing the oneshot decorator on

[2018-08-15 13:34] stonier commented on #86
The minimal example is (switch out the commented line for fail/success):

[code]
Without the oneshot (i.e. two normal sequences):

[code]

With the oneshot, the second sequence is still a oneshot, even when it shouldn't be:

[code]

[2018-08-15 13:35] stonier commented on #86
**Root Cause**: Once the meta-code modifies a class, it *stays* modified.

**Solution**:
1. Unearth a mechanism that can keep the original class around
2. Failing that, consider the long overdue haul on decorators (avoid monkeypatching)

[2018-08-20 15:01] stonier commented on #86
So, the decorator approach is, fundamentally correct and does fit the use case where you want to create a class and then apply a decorator to avoid writing additional boilerplate.

As noted though, it does not fit the dynamic use case where you want to modify the instance.

Users though, need eyes wide open when it comes to decorators. At the very least, documentation and FAQ should be updated.

@

[2018-08-20 15:20] stonier commented on #86
Without revolutionising the entire decorator framework, we have probably two ways forward:

1. a `make_oneshot` which updates an instance on the fly
2. define a class inside the decorator method that inherits from the original class, monkeypatch and return that

The first option is easy, but potentially confusing - the other meta decorators do not need to distinguish between class modifications an

[2018-08-20 19:28] stonier commented on #86
Closed by the above PR. Forthcoming in release 0.6.1.

[2018-08-20 19:28] #86 closed, assigned to nobody

[2018-08-28 19:49] stonier opened #90 "Oneshot re-initialises when it shouldn't"
A report from the TRI driving lads. Investigate.

[2018-08-28 20:10] stonier commented on #90
**Hypotheses**

* **Initialisation**: Some call to `initialise()` is resetting the behaviour status
* **Priority Interrupt**: A higher priority interrupt will reset the status to `INVALID`

In both cases, the current oneshot behaviour starts ticking again.

[2018-08-28 20:15] stonier commented on #90
The former case (`initialise()` being the dastardly culprit) is certainly possible, but unlikely as the root cause - not a single behaviour in `py_trees` or its related projects actually does this. Nonetheless, since it's possible and not forcefully constrained, it should be considered.

The latter is very likely the root cause of their issues.

Next steps:

* A test reproducing the error (to beco

[2018-08-28 20:27] stonier commented on #90
Test code:

[code]
reproduces the problem (oneshot is re-entered):

[code]

[2018-08-31 02:56] kgreenek opened #92 "Can't use decorators with behaviours that have constructor args"
Trivial example:

[code]

Here is the exception I'm seeing:
[code]

If I print out self._some_arg in the behaviour, it looks like the python string representation of the class SomeArg:
[code]

Am I doing something wrong?

I'm using Python 3.5.2 on Ubuntu 16.04, with py_trees (0.6.0) pip installed into a virtualenv.

[2018-08-31 12:31] #90 closed, assigned to stonier

[2018-09-04 12:22] stonier commented on #92
Constructor args is fine, just a problem when name isn't the first argument in the list which was reported via issue #80 and fixed in #82.

Can  you try your snippet with the `devel` branch or release 0.6.2? Works for me with that release.

[2018-09-04 16:49] kgreenek commented on #92
Verified that this does not exist with 0.6.2 on pypi. Thanks for the quick response!

[2018-09-04 16:49] #92 closed, assigned to stonier

[2018-09-04 20:34] stonier opened #93 "Oneshot terminate not being entered"
Reproducable example:

[code]

[2018-09-04 20:35] stonier commented on #93
The real problem here is that `terminate` of `RunnerTester` is never being entered at all and it should be, ten times (ten times the parallel goes from initialise to completion and subsequently `RunnerTester` should be going through it's paces ten times as well.

[2018-09-04 20:51] #93 closed, assigned to nobody

[2018-09-12 22:04] ToffeeAlbina-TRI opened #97 "zip_safe = True needed for python3"
Building with colcon throws this warning. Investigate.

[2018-09-19 13:34] stonier opened #98 "Substitue Name Newlines in Ascii Display"
Currently get something awkward:

[code]

[2018-09-19 15:04] #98 closed, assigned to stonier

[2018-09-27 20:14] #97 closed, assigned to nobody

[2018-10-01 14:22] fnivek opened #104 "Feature ideas for parallel composite"
As I was working on a behavior tree for my robot I came across some scenarios that got me thinking about possible new features for the parallel composite.

I had a parallel node running several behaviors and I needed all but one, a text to speech behavior, to complete before moving on. Sometimes the tts finished before others other times it was last. Ideally I would have the parallel behavior end

[2018-10-02 00:13] fredrikbaberg commented on #83
Sorry for the (really) delayed reply, I used my Ubuntu install instead, to save some time.
I guess that means something like http://code.activestate.com/recipes/134892/ ?

Not sure if/when I'll have time to look at it, but if I manage to get it to work I'll create a PR.

[2018-10-03 13:46] stonier commented on #83
Yes, quite likely.

[2018-10-03 14:10] stonier opened #107 "CircleCI doesnt' trigger on PR's"
Especially relevant for PR's coming in from other repositories. Just happens to work for local branch PR's since the circle ci job is triggered by any commit on any branch in this repository already anyway.

[2018-10-03 14:26] stonier opened #108 "Remove parent when removing children of composites"

[2018-10-03 14:56] #108 closed, assigned to stonier

[2018-10-03 18:38] stonier commented on #107
Had to just flag an advanced setting on the circleci project.

[2018-10-03 18:38] #107 closed, assigned to stonier

[2018-10-05 16:50] stonier commented on #85
From discussions elsewhere, looks like the need here is the 'Pick up where I left off' problem.

**Use Case** [@pirobot]: [Video](https://youtu.be/wXabhS0PH5I). Follow waypoints in sequence, run off to recharge in the middle if necessary, then resume the sequence where you left off.

**Use Case** [@fnivek]: move around working, if ever the arm on the robot is untucked, deal with that, and then res

[2018-10-05 17:20] stonier commented on #85
![puwilo](https://user-images.githubusercontent.com/687378/46549805-36d4b680-c8a1-11e8-8dc9-7dfd9a6dd35a.png)

@pirobot @fnivek would that tree work for you? I like this much better than adding hidden complexity to composites or creating new composites and it is slightly better than creating/destructing trees on the fly all the time (since it exposes everything, all the time).

What it needs thoug

[2018-10-11 19:39] fnivek commented on #85
Sorry for the long delay. I don't believe that this will work for my use case. I don't think mine is exactly pick up where you left off. Every single tick before ticking the _**navigate**_ behavior the _**arm tucked**_ behavior must return success.

At first glance I thought I could do this with a selector but I don't think there is a good solution. For this to work the arm tucked selector would n

[2018-10-12 00:41] stonier commented on #85
Wouldn't this work? (sequence instead of selector, negate the check, no decorators involved)
![root](https://user-images.githubusercontent.com/687378/46841441-f6d86c80-cd95-11e8-8068-ecabfaf9db5e.png)

[2018-10-12 00:53] stonier commented on #85
Aye. If I remember correctly (was a long time ago now), the blackboxes were a simple bandaid around the fact that I couldn't get the rqt dot implementations to handle 'mouse click' interactions without extensive rework. Hover and tooltip capabilities were there though.

[2018-10-12 02:36] stonier commented on #83
Status:

* Keypress functionality is in (caveat: key presses need a carriage return)
* No colouring

This gets us to a working functionality, albeit lacking some polish, so closing this issue. Feel free to create issues for the polish and put them on the ToDo milestone if you wish.

[2018-10-12 02:36] #83 closed, assigned to nobody

[2018-10-12 02:42] stonier commented on #63
Just some notes:

The lads here at TRI have been playing around with the idea of serialising the recipe for construction of a `py_tree` (note this is different than serialising the snapshot of a py_tree). This would serve some useful workflows:

* Export format from an editor
* Export format for converting from one form to another (e.g. we use for converting from log to scenario, where the scenari

[2018-10-12 14:33] stonier commented on #85
That seems to be a very constraining way of using behaviour trees. If `FAILURE` is intended to serve as a way of signalling problems, how do you differentiate between `problem` and `higher priority task is not active` (higher priority tasks are not always indicative of an emergency).

Behaviour status results should be indicative of decision logic, not diagnostics. In that regard, I think using `S

[2018-10-12 15:48] stonier commented on #85
Is the above example that strange? Basically, it is:

`If arm is not tucked, then tuck arm, else navigate.`

Prioritised thinking. I believe that's exactly how a human would think of it, so this expression is good. It only runs into double-negative mindbenders if you start thinking of only part of the problem, e.g. `if not arm not tucked, then navigate`. If that was all your logic was, then of cou

[2018-10-12 19:32] fnivek commented on #85
First thank you very much for taking the time to discuss this.

I still see one problem with the proposed tree. The arm not tucked sequence will return success after finishing tucking the arm. This would in turn have the root selector return success skipping the navigation entirely.

Again you could force arm not tucked sequence to always return failure but then it is the same issue I had with the

[2018-10-13 05:14] stonier commented on #85
Returning success after tucking the arm and skipping the navigation should not be a problem. The very next tree tick (assuming you are periodically ticking at something like 10Hz?) will skip the `Arm Not Tucked` high priority branch and start navigating.  A 100ms delay before starting the navigation should not be significant.

[2018-10-14 15:52] stonier opened #116 "Eliminate __init__.py's"
* [x] Remove cruft in the lower level `__init__.py` &rarr; PR #117
* [ ] Remove the files altogether

Caveat: eggs don't seem to populate with sub-packages if you remove them all.

[2018-10-15 03:15] stonier commented on #116
Leaving them in, primary reason being for convenient aggregation of modules. i.e. if you don't have them, then the user needs to individually import `behaviour`, `behaviours`, `blackboard`, etc.

It might however be of interest to move all of the lower level modules into `py_trees.core` and turn the `py_trees` into a pure namespace package so that other distributions elsewhere can be nested inside

[2018-10-15 03:15] #116 closed, assigned to stonier

[2018-10-15 14:52] fnivek commented on #85
I've been using the arm tucked while navigating as an example but more generally I think this problem could be stated as follows:

Given a set of conditions **C** that must hold true for the duration of action **a**, how can a behavior tree be constructed such that for every tick if all conditions in **C** are true, action **a** is ticked otherwise, if any condition in **C** is false, action **a**

[2018-12-05 17:02] stonier opened #120 "Show Types/Policies in Dot Graphs"
Right now we typically add [<Policy>] in the behaviour name to help a user understand the dot graph. That's not enforced, and so if it isn't there, the dot graph becomes ambiguous.

* Different DOT shape?
* Append a string when doing the dot graph representation?

[2018-12-05 23:48] sachit-wp opened #121 "Should support output directory when rendering dot trees"
render_dot_tree() currently saves the generated files to the current working directory. It would be nice if we had the ability to set this to the directory we want instead. So something along the lines of changing the interface to this:
render_dot_tree(root, visibility_level=common.VisibilityLevel.DETAIL, name=None, dir=os.getcwd())

[2018-12-18 16:41] stonier opened #123 "Have a constant be representative of the blocking timeout (0.0) on setup()"
Calling `setup(0)` is very fugly.

[2019-01-08 14:19] stonier commented on #104
Planning to implement:

* [x] SUCCESS_ON_SELECTED (using refs to behaviours instead of indices since they are fragile and easy to make bugs)
* [x] Synchronise flag

[2019-01-08 14:21] stonier commented on #76
Still using `python-sphinx-argparse`, I think, because RTD plays with it nicely. No real reason to move off yet since it the python version here is orthogonal to the py_trees version itself, so punting this issue.

[2019-01-08 14:21] #76 closed, assigned to nobody

[2019-01-08 14:22] fnivek commented on #104
Sounds great! Thanks!

[2019-01-08 14:22] stonier commented on #62
Parallel discussion active and in #104.

[2019-01-08 14:23] #62 closed, assigned to nobody

[2019-01-08 14:24] stonier commented on #104
Sorry for the long haitus. Already active in a branch, but I have thought of a better way to handle it yet. Will pick it up again after the decorators revamp.

[2019-01-08 14:25] stonier commented on #20
Discussion ongoing in efforts PR #122 and PR #125

[2019-01-08 14:27] stonier opened #128 "Oneshot Policies - ON_SUCCESS, ON_ANY"
Current implementation (after #125 gets merged) is hard coded to implement `ON_SUCCESS`. There are valid use cases for oneshot to trigger on any competion type though, so implement a policy to handle it.

`ON_ANY` I don't like much for wording, `ON_SUCCESS_OR_FAILURE` might be more explicit.

[2019-01-08 14:28] fnivek commented on #104
No worries take as much time as you need, just glad to have helped contribute in some way.

[2019-01-08 21:29] stonier commented on #104
Note to self to re-read what EU4's choices were with parallels and services before going further. Notes [here](https://docs.unrealengine.com/en-us/Engine/AI/BehaviorTrees/HowUE4BehaviorTreesDiffer).

[2019-01-08 23:47] stonier opened #129 "UE4 Behaviour Trees Review"
Re-read what EU4 is doing, see if there is any inspiration for decorators and event-driven concepts.

[2019-01-08 23:58] stonier commented on #129
Notes: https://docs.google.com/document/d/1ytN2kagrq8WCe--UG7FxkQVwk9nVj02lvlTgdcCynwQ/edit#

Conclusions:
* Got some inspirations for event driven capabilities
* Other than that, conditionals and services don't look like they provide anything special. Can probably use decorators and idioms to do all they aspire to do and that will be fine for us.

[2019-01-08 23:58] #129 closed, assigned to stonier

[2019-01-13 17:34] #20 closed

[2019-01-14 02:32] stonier opened #132 "Loss of visibility when invalidating"
There are two cases for marking the status of a behaviour as INVALID:

1. A higher priority interrupt
2. A decorator or a parallel also sets INVALID on a running child if they themselves have gone to completion.

Subsequently, this overloaded definition causes problems when attempting to understand (especially visually) the state of a tree.

FYI @naveedhd

[2019-01-14 02:35] stonier commented on #132
The first case is not an issue - priority interrupt invalidation happens on the **next tick** and subsequently the executed behaviour has an opportunity for it's preceding status to be visualised.

Decorators and parallels however, can invalidate on the **same tick** as the one that executed the behaviour, leaving no opportunity for the result of that behaviour to be visualised. Logically it has t

[2019-01-14 14:30] stonier opened #133 "Error Handling in 1.0"
* `AssertionError` only for errors that should never happen. Note that assertion errors can be optimised out, so this does not include checking user inputs.
* Type/RuntimeErrors only or create some custom exceptions?
* Should setup raise an exception instead of returning true/false?
* Type hints are nice, but do not raise errors in runtime

FYI: @sachit-tri @naveedhd

[2019-01-14 14:32] stonier commented on #133
Q: Can type hints transfer to docstrings?

[2019-01-14 16:34] stonier opened #135 "Filename handling odd symbols"
Newlines aren't handled by https://github.com/stonier/py_trees/blob/devel/py_trees/display.py#L340.

Likely other symbols need care as well, so it's probably worth having a special method in utils for this and a test for it as well.

Note that we should apply the same rules to a given `name` as well as the root `name`.

[2019-01-14 18:43] stonier opened #137 "Type Hints to Docstrings"
Now that we're starting to put type hints into the code, we can eliminate some of the redundant docstrings, but there is some infra and testing required to enable this and work out what the approach that is required.

Refer to https://github.com/agronholm/sphinx-autodoc-typehints.

[2019-01-14 19:45] #128 closed, assigned to stonier

[2019-01-14 23:18] #121 closed, assigned to nobody

[2019-01-14 23:18] #135 closed, assigned to stonier

[2019-01-15 19:46] stonier commented on #104
#134 implements `SuccessOnSelected` and Synchronisation. I can imagine some other useful policies configurations, but decided not to implement until there is a use case exercising them. If you have one you'd like, let's get into specifics on new issues/PRs.

[2019-01-15 19:46] #104 closed, assigned to stonier

[2019-01-15 19:58] stonier commented on #85
I don't believe your graphs actually do this above.

After reading the UE4 notes on behaviour trees, I believe what you're looking for is something like the decorators they have which check a condition on each and every tick into their underlying behaviour. If the condition fails at any time, then the underlying behaviour is aborted.

I wrote some scribbles about that and the way I might implement

[2019-01-15 20:59] #123 closed, assigned to stonier

[2019-01-15 21:15] stonier commented on #120
Nodes have an `xlabel` attribute that can be used for additional text (shows outside, but very near the node in xdot). Reference [here](https://graphviz.gitlab.io/_pages/pdf/dot.1.pdf).

There is also `tooltip`.

Be interesting to see what graphviz supports when exporting to png/svg.

[2019-01-16 02:28] stonier commented on #133
Proposal:

**No asserts**: This is a c++ [blog](https://www.softwariness.com/articles/assertions-in-cpp/), but sums up my thoughts for any library where you wish to empower users, not take away their power.

**No SetupError / TickError** or similar. Consider:

[code]

There may be some `py_trees` behaviours underneath, some from my company, some from possibly other users. Subsequently *any* kind o

[2019-01-16 02:44] sachit-wp commented on #133
:+1:

I think we should stick to these for now/

Honestly, I don't think there's a need to return true / false. In the case of an error during setup a node must throw the appropriate exception -> TimeoutError or whatever else.

I don't think this should be too much a problem.

[2019-01-16 15:52] stonier opened #144 "UE4 Conditions as idioms"
Because a picture is a thousand words, refer to this [diagram](https://docs.google.com/document/d/1ytN2kagrq8WCe--UG7FxkQVwk9nVj02lvlTgdcCynwQ/edit#bookmark=id.1030d76phifr).

[2019-01-16 15:53] stonier opened #145 "Napolean __init__ docstrings in the class docstring?"
I have a mix of defining args and raises under the class and under the __init__ function. Wondering why I did that. Is this a Napolean thing?

[2019-01-16 20:00] stonier opened #146 "Timeouts in setup() problematic"
* Timeout size is the responsibility of the tree owner
* Handling of the timeout is the responsibility of the tree owner

As such, doesn't make sense to transfer responsibility to the behaviour and in addition, when run at the top level, it becomes N*timeout where N is the # of behaviours in the tree - this has always been clunky.

[2019-01-17 05:35] #133 closed, assigned to stonier

[2019-01-17 05:36] stonier commented on #145
[code]

From https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

[2019-01-17 05:36] stonier commented on #145
Worth keeping in mind, I'll move them to the class area as I find them.

[2019-01-17 05:36] #145 closed, assigned to stonier

[2019-01-17 05:39] stonier commented on #40
The original ask has been implemented by the `pick_up_where_you_left_off` idiom.

[2019-01-17 05:39] #40 closed, assigned to stonier

[2019-01-18 05:16] #120 closed, assigned to stonier

[2019-01-18 15:40] stonier commented on #77
Aye, it's related since it just drops into the kwargs without an error (whyever I put that in there in the first place, I don't know...it's just a source of bugs as you've discovered).

Removed the `args`, `kwargs` so at least you'll get an error up front in 1081f0ea.

Certainly could put the blackbox_level in the init with a default argument though. Send me a PR if you wish it.

[2019-01-18 15:40] #77 closed, assigned to stonier

[2019-01-18 15:45] stonier opened #149 "Broken autodoc on devel branch"
See https://py-trees.readthedocs.io/en/devel/modules.html

[2019-01-18 15:50] stonier commented on #149
Errors on the return value on the type hints.

[code]

[2019-01-18 16:37] #149 closed, assigned to stonier

[2019-01-18 16:38] stonier commented on #149
Actual solution was to trigger RTD to use CPython3, not CPython 2.

[2019-01-18 16:50] stonier commented on #137
Seems there are a few sphinx extensions around....

In order of most recent updates:

* [sphinx-autodoc-typehints](https://pypi.org/project/sphinx-autodoc-typehints/)
* [sphinx-autodoc-future-annotations](https://pypi.org/project/sphinx-autodoc-future-annotations/)
* [sphinx-autodoc-annotation](https://pypi.org/project/sphinx-autodoc-annotation/)

Haven't reviewed/compared yet.

[2019-01-18 21:03] #146 closed, assigned to stonier

[2019-01-21 15:35] stonier opened #151 "PyTree Creator / Monitor"
Not exactly the right place for this (this is not the gui repository), but just to collect resources. Some nice guis:

* [BehaviourTree/Groot](https://github.com/BehaviorTree/Groot) - c++ creator, maybe monitor as well?
* [Behaviour3Editor](https://github.com/behavior3/behavior3editor) - web based creator?
* [Qt Rendering via LibGraph](http://www.mupuf.org/blog/2010/07/08/how_to_use_graphviz_to_dr

[2019-01-21 15:37] stonier opened #152 "Towards Tree Logging"
Although in reality this is just about providing callbacks for whenever there is 'a change in the tree'.

These are currently in py_trees_ros, but the logic should be here so that people can plug there own callbacks to handle 'a change in a tree' (e.g. logging mechanism). This library could even provide a default mechanism for logging.

[2019-01-21 15:37] stonier commented on #152
FYI @sachit-tri

[2019-01-21 15:38] stonier commented on #151
Note: right now we have rqt_py_trees which is a ROS runtime monitor.

A creator could/should be agnostic to ecosystem, the monitor really could be as well, so long as the backend for it is pluggable (or perhaps uses its own communication mechanism).

[2019-01-22 19:07] stonier commented on #79
Wooha!

[2019-01-22 19:07] #79 closed, assigned to stonier

[2019-02-02 17:45] stonier commented on #152
Musings.

A callback _and_ a helper that serialises the tree (so the user doesn't have to write their own in most cases), but let the user write their own also if they do wish.

The tree, too, is not going to be sufficient for explainability. You'll need a serialised dump of the blackboard at that point as well. I can imagine you might wish a before-after pair of dumps to show what the tree did to

[2019-02-06 13:15] stonier commented on #152
**What Defines a Change in the Tree?**

The underlying motivation is to catch `moments` critical for understanding / diagnosing the decision making process. It should not a vehicle for overwhelming the user with tick-by-tick data changes. For that, implement post-tick handlers that take snapshots of the data, i.e. the blackboard.

To illustrate, given a battery monitoring behaviour, it pertains to

[2019-02-06 17:46] sachit-wp commented on #152
When I think of change in a tree, the only thing I think of is the change in the state of one or more behaviours in the tree.

Having used feedback message as a debug tool I can understand why I would like to snapshot the tree and save it out for debugging purposes.

I am not sure what you mean by 'visited' here since I don't see any parameter on the behaviour regarding 'visited'. I think that sho

[2019-02-06 21:22] stonier commented on #152
I do need something for the `long-running control component with internal decision making` use case so the current capability residing in `py_trees_ros` doesn't regress. For that, the `flag_changed` boolean will suffice and not get in the way for those who do not care to use it. Note: `debug-change` would help solve our use case (give us freedom to do with feedback_messages as we like) but not imp

[2019-02-07 00:17] sachit-wp commented on #152
Okay -> the flag_changed boolean sounds good to me. Maybe debug-change can just be based on feedback_message and flag_changed?

[2019-02-11 09:06] naveedhd commented on #152
I agree with the `side-effect` of feedback message (e.g. in case of battery level or some constant switching)  that it may spam the logs/viz.

However `flag_changed` have the tendency of being ignored in most cases unless required. In my observation, I have seen even feedback_message not utilized properly. So that increases the things to keep in mind for developer for every behaviour that she writ

[2019-02-12 00:09] stonier opened #154 "Consider timeout threads on setup instead of multi-process"
If someone, e.g. embeds the py_trees in a python interpreter, then multi-process on `setup` won't work.

In that case, the thread solution may still be practical. i.e. `join` won't work, but it's probably not critical. What is important is to log messages to the user, not recover.

See #148 for the original multiprocess implementation discussion.

[2019-02-12 17:26] stonier commented on #152
Had a rethink after looking at my cheap and dirty implementation in `py_trees_ros` which visits the entire tree and couples the idea of change with the ROS serialisation of the tree, ugh. I'm also trying to get around having to add something awkward to the base class if I don't need to.

**Plan B (which is much better than Plan A!)**

1. Use a visitor (that only visits the ticked part of the tree)

[2019-02-13 19:09] #152 closed, assigned to nobody

[2019-02-20 06:44] naveedhd commented on #151
somewhile (almost an year) ago, mused upon this idea doing with [rqt](https://github.com/naveedhd/rqt_py_trees_creator). couldn't figure out at that time the following:

- in my head was drag and drop thing with available behaviours, couldn't figure out straightaway example of doing this
- if it has to be (to more extent) agnostic of py_trees/ros (lets just say we pass around json or some other me

[2019-02-20 23:51] sachit-wp commented on #151
The project I really seem to like (at first glance) is https://github.com/pruttned/owl-bt. My rationale is that the configuration is entirely json based so it makes it very easy to author trees and behaviours. This json file should also be easy to auto generate.

Regarding monitoring with this task, I don't know. I haven't dived deep enough to understand how hard that would be.

[2019-02-25 10:21] simchanu29 opened #162 "decorator.py not in release 0.5.11"
In the branch `release/0.5.x` the file `py_trees/decorator.py` exists
In the release [0.5.11](https://github.com/splintered-reality/py_trees/archive/0.5.11.zip) this file doesn't exists

It leads to the following error when using the first tutorial of the `py_tree_ros` ROS package :
[code]

[2019-02-25 10:45] simchanu29 commented on #162
I've just tested the `py_trees_ros` package with the branch `release/0.5.x`. I get the error :
[code]
I've checked the code, it seems there is indeed an error on the number of arguments line 303 of `display.py`

After a checkout to version `0.6.8` it seems to solve the issue.

So either the advised version for `py_trees` in `README.md` for ROS Kinetic should to be changed to `0.6.x`, or a fix shou

[2019-02-25 21:04] stonier commented on #162
Thanks for the catch...getting that experimental feature in across kinetic/melodic and crystal was messy. I've been trying to consolidate the branches.

Cherry-picked https://github.com/splintered-reality/py_trees/commit/f3a37ae96feb9fcd758e023f822d2ba030e406ed (from release/0.6.x) into release/0.5.x and releasing 0.5.12.

[2019-02-26 04:55] stonier commented on #162
Kinetic release [v0.5.12](https://github.com/ros/rosdistro/pull/20378) on it's way.

[2019-02-26 04:55] #162 closed, assigned to nobody

[2019-02-27 09:04] naveedhd commented on #162
@stonier I think 0.5.12 broke with warnings and is still not released (so the problem persists). this [pr](https://github.com/splintered-reality/py_trees/pull/163) might solve the break.

[2019-03-01 13:53] stonier commented on #19
The C++ behaviour tree library has been wrangling with this a bit - they've formalised what any node is permitted to access on a blackboard and blocked direct access. Notes [here](https://behaviortree.github.io/BehaviorTree.CPP/MigrationGuide/).

One keypoint that seems to be of note - coming from serialisation or going to serialisation generates different requirements.

[2019-03-05 18:56] sachit-wp opened #168 "Missing feedback_message in root of the behaviour"
The method py_trees.display_generate_ascii_tree does not add the root behaviours feedback_message.

Reproduce like this:
[code]

[2019-03-05 19:39] stonier opened #169 "Utilise __str__, __repr__ instead of feedback_message"
There is precedence in the python world for these two streams, perhaps we should reuse these.

[2019-03-07 02:41] #168 closed, assigned to stonier

[2019-03-07 02:43] stonier commented on #168
Released on pypi in `v1.0.6`

[2019-03-07 11:53] stonier opened #172 "CircleCI not triggering after the organisation move"

[2019-03-07 19:33] sachit-wp opened #173 "Decorators don't override their tip() method"
This causes them to use Behaviour.tip() instead which is incorrect.
I will PR a fix + update the tests soon.

[2019-03-07 19:34] sachit-wp opened #174 "Decorators do not set the parent for their decorated child"
Will also add a PR fix + test for this soon.

[2019-03-08 04:15] stonier commented on #172
Odd. Still building, see [here](https://circleci.com/gh/splintered-reality/py_trees/270). Even links to the PR.

[2019-03-08 04:50] stonier commented on #172
However, splintered-reality did not have circleci authorised and as a member of the org, my listing wasn't public. Fixed.

[2019-03-08 04:50] #172 closed, assigned to stonier

[2019-03-19 15:47] stonier commented on #174
Fixed in #181

[2019-03-19 15:47] #174 closed, assigned to stonier

[2019-03-19 15:47] stonier commented on #173
Fixed in #181

[2019-03-19 15:47] #173 closed, assigned to stonier

[2019-03-19 15:49] stonier commented on #154
Ended up becoming necessary:

* In embedded python interpreters
* For middleware setup which doesn't survive the transit across the multiprocessing boundary

Rescued by @sachit-tri! Fix in d7be59dd

[2019-03-19 15:49] #154 closed, assigned to nobody

[2019-03-19 15:52] stonier opened #183 "[tests] tip with parallels"

[2019-03-19 18:35] #183 closed, assigned to stonier

[2019-03-20 14:26] jstyrud opened #186 "Is py_trees backwards compatible with older ROS?"
Quick question that I couldn't tell from the readme. Is the main py_trees code backwards compatible with older ROS versions?
For example, ROS1/Kinetic is listed as compatible with py_trees 0.5.x. Does that mean that Kinetic works **only** with 0.5.x or that it works with **0.5.x and higher**? (or simply that it's only tested with 0.5.x and it might work with later versions but we don't know?)

The

[2019-03-22 04:08] stonier commented on #186
Once I release on a distro, I typically do not bump the minor version, just to keep stability for users of the package. That means the deb will stay on the `0.5.x` release. However, the dependencies are so minimal that source releases for other versions typically work. In this case, the melodic `0.6.x` release will (should) work fine on kinetic if you download the sources and put that in your work

[2019-03-22 04:09] stonier commented on #186
Note to self: the Readme needs some grooming and could use a note about python2/python3 support.

Fixed in https://github.com/splintered-reality/py_trees/commit/805c5b3dfb9038b8a8cbdb41eefaa5ce945535e5

[2019-04-29 03:31] stonier commented on #186
@naveedhd is doing some work to backport newer features across to a kinetic-compatible (read python2 compatible) branch so that a jump to the 1.x versions later is minimal. See #190.

[2019-05-09 08:27] naveedhd opened #196 "[0.5/kinetic] dealing with non-ascii characters"
In python2/kinetic `py_trees`, how should we deal with non-ascii/unicode characters.

For instance, following will break:
[code]

unless I specify `# -*- coding: utf-8 -*-` at the top.

(the `display.ascii_tree` is used in BehaviourTreeRos to publish ascii tree)

The question is if this is supported in python2 or what is the recommended practice?

[2019-05-13 03:28] stonier commented on #196
[PEP 0263](https://www.python.org/dev/peps/pep-0263/).

That's the PEP you are directed to when attempting to run the above code with python2.7.

That PEP is valid from 2.3 onwards and without an encoding comment, it does say it defaults to ascii. So adding that comment at the top, certainly looks like a valid solution for python2.7.

----

Note that forcing the string to be unicode (i.e. `u"æ doo

[2019-05-13 12:21] stonier commented on #186
Aging out.

[2019-05-13 12:21] #186 closed, assigned to stonier

[2019-05-23 06:16] #196 closed, assigned to nobody

[2019-05-23 06:17] #144 closed, assigned to nobody

[2019-05-29 11:54] facontidavide commented on #151
Hi

I am looking into your library to understand the relationship with BehaviorTree.CPP and the differences.

About using Groot... I like to say that Groot is a fancy XML editor.
If you (we?) implement a factory to create programmatically a tree from [this file format](https://www.behaviortree.dev/xml_format/), py_trees might become compatible with Groot

[2019-05-29 12:01] facontidavide commented on #63
In BehaviorTree.CPP we did something similar, using XML as "scripting language".

To give you an idea of what it look like.... https://www.behaviortree.dev/xml_format/

[2019-05-29 12:07] facontidavide commented on #19
You can read more about the rationale of this decision in this deliverable:
https://github.com/BehaviorTree/BehaviorTree.CPP/raw/master/MOOD2Be_final_report.pdf

I am pretty sure, after working on BehaviorTree.CPP that the classical blackboard is a broken pattern that works only with small scale trees.

The idea I implemented is not actually new, at the end of the day, also SMACH uses data ports a

[2019-06-02 03:13] stonier commented on #19
Aye, I read that and am familiar with the various implementations. The simple one I used initially here I wouldn't say is broken, just not rigorous for the reasons you have described and as much as I do like to be rigorous, I yielded on this in the first implementation to put in place something blatantly simple for a few reasons. One of these being so that we could learn what were the most importa

[2019-06-02 03:20] stonier commented on #151
@facontidavide I'm getting pretty close to the point where I'll start tickling this issue - the ros2 port had more speed bumps than expected, but the light at the end of the tunnel is there. I'll reach out when I'm done.

I expect not too many changes to make it compatible with that schema, at least for creation It might need some tickling of the schema as well.

I am curious though - do you use t

[2019-06-02 03:23] stonier commented on #19
On the serialisation comment ... hrm, that is a good question! It's been a while and I think that is basically a misplaced comment that has nothing to do with the blackboard problem. It is relevant for the comment I made over in #151 about the kind of serialisation required for creation (construction) vs monitoring.

[2019-06-02 16:10] facontidavide commented on #151
For monitoring I use serialization using flatbuffers and ZeroMQ for the transport mechanism.
This is a PITA, because it requires more work, but it is more efficient.

[2019-06-10 01:18] bigtom1972 opened #197 "demo script calls behavior_tree tick_tock with incorrect argument name"
It is a minor issue.
Example script calls tick_tock with incorrect parameter name.  "sleep_ms"
behaviour_tree.tick_tock(
            sleep_ms=500,
            number_of_iterations=py_trees.trees.CONTINUOUS_TICK_TOCK,
            pre_tick_handler=None,
            post_tick_handler=None
        )
https://github.com/splintered-reality/py_trees/blob/devel/doc/examples/skeleton_tree.py

Error informat

[2019-06-10 04:28] #197 closed, assigned to stonier

[2019-06-10 04:29] stonier commented on #197
Thanks for the catch!

[2019-06-10 04:31] stonier commented on #137
Those type hints are getting into the doc strings, but the core and ros packages are using different typehint sphinx modules.

TODO: synchronise the dependency.

[2019-06-10 04:34] stonier commented on #85
Aging this out.

Note - we have a couple of new mechanisms which cover some of the requests in this thread:

* #115 - pick up where you left off
* #195 - eternal guard (UE4 like `condition`) decorator and idiom

[2019-06-21 23:28] andrewbest-tri opened #200 "Default synchronise on ParallelPolicy.SuccessOnAll should probably be False"
It is confusing that children of a parallel are not restarted by default if any other child returns true. I would expect them to be ticked always unless I specifically tell them not to.

[2019-06-24 14:01] stonier commented on #200
I wonder if this is one of those things where confusion is in the eye of the beholder - more specifically, in light of what they are trying to achieve. It's only recently py_trees has had the ability to synchronise, and it's previous failure not to do so was surprising to a few (I've had reports anecdotally, also see #62).

Perhaps I should rejig it so that it has no default? That will make sure d

[2019-06-24 16:20] andrewbest-tri commented on #200
I can live with that. It seems like wherever one's background in behavior trees comes from, they tend to expect different things.

[2019-07-07 16:25] stonier commented on #151
Some notes...

* Groot makes use of a great library of renderable qt graph nodes, in c++.
* Hard to move away from PyQt though, it's just so much easier
* Behaviour3Editor has a useful js rendering [library](https://github.com/behavior3/behavior3editor/tree/master/src/editor/draw) for trees (based on createjs)

On the web app side, there are lots of pain points:

* The hassle of doing interactive

[2019-07-07 16:31] stonier commented on #151
**The Javascript World**

* [createjs](https://createjs.com/) - used by the behaviour3 editor, canvas editing plus other goodies to boot
* [pixijs](https://www.pixijs.com/) - 2d webgl rendering
* [viz.js](https://github.com/mdaines/viz.js) - dot graphs
* [dagrejs](https://github.com/dagrejs) - directed graph layouts

[2019-07-21 04:22] stonier commented on #151
Closing this out, work started over in [py_trees_ros_viewer](https://github.com/splintered-reality/py_trees_ros_viewer/blob/devel/README.md).

[2019-07-21 04:22] #151 closed, assigned to stonier

[2019-08-06 18:47] stonier opened #201 "Dynamically reconfigurable variables"

[2019-08-14 19:03] stonier opened #202 "Alternative chooser implementation"
Thread over in https://github.com/yujinrobot/py_trees_suite/issues/6.

Until I deprecate the Chooser in favour of idioms, this modification is probably more practical and less confusing for users.

Copied the example and modification to this [gist](https://gist.github.com/stonier/00a9f71f12be899dcc6d00a4b82e3011) so it won't be lost.

Will have to wait for the next version though since it's API br

[2019-08-26 16:34] stonier opened #203 "Blackboard v2 Design"
**Work**

Cumulative state towards the design outlined below:

* Project: [1.3 - Blackboards v2](https://github.com/splintered-reality/py_trees/projects/1)
* Branch: [experimental/blackboards](https://github.com/splintered-reality/py_trees/tree/experimental/blackboards) ([diff](https://github.com/splintered-reality/py_trees/compare/experimental/blackboards))

**Glossary**

* *blackboard client*: a

[2019-09-01 14:30] stonier opened #205 "Client user-string name identifiers"
Human friendly versions of the unique identifiers.

**Victory Conditions**

* Constructor accepts a string identifier along with the unique identifier.
* If None is given, it elides the unique identifier

[2019-09-01 14:31] stonier opened #206 "Blackboard clients throw exceptions if uuid's aren't uuids"
**Victory Conditions**

* TypeError exceptions thrown if uuids aren't uuids

[2019-09-01 14:34] stonier opened #207 "Blackboard switch-in"
No technical reason for doing so now and I do dislike the coupling, but it does guarantee construction and saves the user the inconvenience of doing so.

**Victory Conditions**

* `Blackboard2 switched in for the original `Blackboard`
* (tentative) Constructed in `Behaviour.__init__()`
* All `py_trees` behaviours updated

[2019-09-01 14:35] stonier opened #208 "Blackboard tests"
**Victory Conditions**

* Blackboard tests migrated from old to new blackboard

[2019-09-01 14:37] stonier opened #209 "Blackboard demo & documentation updated"
**Victory Conditions**

* Blackboard demo demonstrates client usage, with and without behaviours
* Blackboard class docstrings reviewed

[2019-09-01 14:38] stonier opened #210 "v1.3 release"
**Victory Conditions**

* Version bump
* Readthedocs version build added
* README updated (here and `py_trees_ros`)
* Bloom release

[2019-09-01 14:39] stonier opened #211 "Dependent py_trees package update for new blackboards"
**Victory Conditions**

* `/stonier/blackboard` branch created
* Behaviours in other packages updated and working with this release on `/stonier/blackboard` branch

[2019-09-01 14:54] stonier opened #212 "Blackboard on dot graphs"
**Victory Conditions**

* We've found a sane way to represent them at creation time (via dot graphs)

[2019-09-01 14:56] stonier opened #213 "Tree manager blackboard activity stream"
Might need to break down this issue into several.

**Victory Conditions**

* Tree manager has handlers for collecting the activity stream

[2019-09-01 15:03] stonier opened #214 "Blackboard display method"
**Victory Conditions**

Unicode style methods that can:

* [x] List the keys, along with their read/write permissions
* [x] ~List the clients, along with the keys that they read/write (no use case for this I think)~
* [x] Display the complete blackboard
* [x] Display the complete blackboard, highlighting recent changes
* [x] Filter complete blackboard displays on a list of keys
* [x] Filter comple

[2019-09-03 01:47] stonier commented on #205
No eliding here - that should be delegated to whoever is displaying.

[2019-09-03 01:49] #205 closed, assigned to nobody

[2019-09-03 01:58] stonier commented on #206
uuids were already covered, made sure to cover the names here.

[2019-09-03 01:58] #206 closed, assigned to nobody

[2019-09-09 13:13] #214 closed, assigned to stonier

[2019-09-10 14:46] #208 closed, assigned to stonier

[2019-09-10 19:57] #212 closed, assigned to stonier

[2019-09-10 21:51] #209 closed, assigned to stonier

[2019-09-10 22:05] amandazhuyilan opened #224 "Make Composite an abstract class"
`Composite(behaviour.Behaviour)` should be implemented as an abstract (ABC) class. Users will confuse this as a valid type of `composite` when setting up a pytree (and end up getting `INVALID` state when running the tree).

[2019-09-13 12:44] stonier commented on #213
Did not put it into the tree manager as that is bare bones, however the requisite machinery for post-tick handling it via a print call to a display method is in.

[2019-09-13 12:44] #213 closed, assigned to stonier

[2019-09-13 12:47] #203 closed, assigned to stonier

[2019-09-18 13:36] stonier commented on #224
:+1:

[2019-09-18 13:41] stonier opened #227 "CheckBlackboardVariable exists with None"
Is potentially broken - None is a perfectly valid value for a key, but here it's taken as the signal to check for variable existence.

Create a new class? Ostensibly, the non-blocking counterpart for `WaitForBlackboardVariable`

Additionally, the `CheckBlackboardVariable` class could be generalised for checks more general than that given. If not, narrow it's focus, at least by name.

[2019-09-20 17:12] arthurrichards77 opened #230 "Built-in test tools"
We're using py_trees for drone control, and we'd like to be able to run the tree in "test mode" to verify its logic without firing up the drone interface or bothering with a simulator.  I want the test capabilities built into the tree, rather than having a second tree builder with test leaves that risks getting out of step - test what you fly, etc.

I'd therefore like to have a "test injector" dec

[2019-09-30 04:26] stonier commented on #227
Resolved by https://github.com/splintered-reality/py_trees/pull/222.

[2019-09-30 04:26] #227 closed, assigned to stonier

[2019-09-30 04:31] stonier commented on #207
That was rather messier than anticipated. Hit snags:

* Hadn't thought deeply about nested attribute access
* Had to relax activity stream logs on 'get' activities when it couldn't be determined if it was read/write access (writing to a nested variable actually causes a read on the blackboard storage attribute - no workarounds for that short of really making the api as verbose as a typical databas

[2019-09-30 04:31] #207 closed, assigned to stonier

[2019-09-30 04:40] stonier commented on #230
I'd be interested in seeing what you have - can you throw me a link? I believe I've read of something similar in a graphing / tree framework, but I cannot recall where - were you inspired from something else?

I've always done such testing by creating a mock robot under the tree and creating integration tests with that (or subtrees thereof) to make sure I cover all of the permutations and combinat

[2019-10-03 12:53] stonier commented on #211
* https://github.com/splintered-reality/py_trees_ros_interfaces/commit/376046eef2eeaa178dae4522e56b4e3cb6b80cfa
* https://github.com/splintered-reality/py_trees_ros/pull/109
* https://github.com/splintered-reality/py_trees_ros/pull/114
* https://github.com/splintered-reality/py_trees_ros/pull/115
* https://github.com/splintered-reality/py_trees_ros/pull/116
* https://github.com/splintered-reality/

[2019-10-03 12:53] #211 closed, assigned to stonier

[2019-10-03 12:56] stonier opened #234 "Upgrade sphinx typehints module"
From `sphinx-autodoc-annotation` to `sphinx-autodoc-typehints`.

Reason: so that we get links from types to external documentation in method args.

[2019-10-04 03:45] #234 closed, assigned to stonier

[2019-10-04 03:46] #210 closed, assigned to stonier

[2019-10-04 03:48] stonier commented on #137
Tried `sphinx-autodoc-annotation`, but settled on `sphinx-autodoc-typehints`. Refer to #235 for detail.

[2019-10-04 03:48] #137 closed, assigned to stonier

[2019-10-04 03:48] stonier commented on #25
Aging out.

[2019-10-04 03:48] #25 closed

[2019-10-04 03:49] stonier commented on #19
Closing out. First big iteration on this went in across the stories in https://github.com/splintered-reality/py_trees/projects/1.

[2019-10-04 03:49] #19 closed

[2019-10-08 17:40] stonier opened #236 "Program py-trees-render doesn't work on class static methods"

[2019-10-08 17:48] stonier commented on #236
Should also be smart enough to instantiate a class and render from a method inside the instance (assuming no args are needed for init or the rendering method).

[2019-10-10 03:15] #236 closed, assigned to stonier

[2019-10-16 14:50] pirobot opened #242 "Best way to cancel action at shutdown?"
I need to cancel all move_base goals when I shut down my py_trees script.  My  move_base action behaviours use py_trees_ros.actions.ActionClient and I can move the robot around appropriately depending on the state of my behaviour tree.  However, when I Ctrl-C my script, I need the robot to stop immediately so I need to cancel all move_base goals.  I can do this by creating a standalone move_base a

[2019-10-17 13:32] #242 closed, assigned to nobody

[2019-10-17 13:59] #200 closed, assigned to stonier

[2019-10-17 13:59] stonier commented on #201
Not even sure what spurred this...

[2019-10-17 13:59] #201 closed, assigned to stonier

[2019-10-17 14:40] stonier opened #243 "Blackboard evolution"
Blackboard v2 went in, and it made an incremental step so as not to create too large a speed bump for legacy code, but also to make sure due to some reluctance to commit to a rigorous solution that might make it unwieldy. Some thoughts after having used it for a bit:

**File Like access (Minor Upgrade)**

The current implementation leans in this direction, but has some inconsistencies around the i

[2019-10-28 17:35] stonier opened #245 "Namespaced Blackboards"
Tossing around an idea at the moment:

[code]

[2019-10-28 17:35] stonier commented on #243
Other ideas:

* #245 - Namspaced Blackboards

[2019-10-28 17:36] stonier opened #246 "Required Keys"
Idea:

[code]

[2019-10-28 17:38] stonier opened #247 "Blackboard Remappings"
Idea:

[code]

[2019-10-28 17:41] stonier opened #248 "Exclusive write access on blackboard keys"
Idea - collapse read/write into one enum with `READ`/`WRITE`/`EXCLUSIVE_WRITE`:

[code]

[2019-10-30 13:16] spectereye opened #252 "module 'signal' has no attribute 'SIGUSR1'"
met error below when run py-trees-demo-tree-stewardship.exe
[code]

[2019-11-06 18:13] stonier commented on #252
What platform are you on? Windows?

[2019-11-06 18:30] #252 closed, assigned to nobody

[2019-11-12 04:59] stonier commented on #245
Went in PR #250 and #256.

[2019-11-12 04:59] #245 closed, assigned to stonier

[2019-11-12 05:00] stonier commented on #246
Went in with PR #254.

[2019-11-12 05:00] #246 closed, assigned to stonier

[2019-11-12 05:00] stonier commented on #230
Aging out.

[2019-11-12 05:00] #230 closed, assigned to stonier

[2019-11-12 05:03] stonier commented on #243
Have settled into usage stylised on file-like read/write/exclusive write access. Coupled with namespacing (#250 and #256), it's turning out to be very usable. Remappings yet to come for the v1.5 release, but that should be fairly trivial.

Closing this out as it's no longer a ? on the roadmap.

[2019-11-12 05:03] #243 closed, assigned to stonier

[2019-11-12 15:29] amandazhuyilan opened #257 "Broken image on py_trees documentation page"
Broken image link on Blackboard - py_trees.blackboard.Client (under Namespaces and Namespaced Clients):
![broken-img-link](https://user-images.githubusercontent.com/20864856/68684945-5378fe80-0537-11ea-9c16-df4769c674c5.png)

[2019-11-13 04:58] stonier commented on #257
0bddbfb322be120bb41cf280920c7d3e96690084

[2019-11-13 04:58] #257 closed, assigned to stonier

[2019-11-14 09:09] #247 closed, assigned to nobody

[2019-11-15 07:40] #248 closed, assigned to nobody

[2019-11-24 01:10] stonier opened #263 "Revert at least linux signal usage back to SIGUSR1"
Using `SIGINT` causes headaches when used with other frameworks that perform trickery on the `SIGINT` signals.

[2019-11-24 17:55] #263 closed, assigned to stonier

[2020-01-02 13:49] stonier opened #266 "Blackboard Performance"
First benchmarks:

[code]

Things to do:

* [ ] Understand why namespaced registrations are 3x expensive
* [ ] Test with no absolute namespacing call (add rel. and abs. names to `remappings` dict)
* [ ] Test with no generation of `write_keys` and `all_keys` ((re)generate in `register_key`)

[2020-01-03 20:42] #266 closed, assigned to nobody

[2020-01-16 21:59] JimWhiteheadUCSC opened #268 "Composites do not check return status from self.update() call in tick()"
All Composite classes have logic inside their tick() function which calls self.update() before iterating through children and calling tick() on them.

The return value for the call to self.update() is not checked. Hence if the actions taken inside self.update result in the status being set to Status.FAILURE or Status.INVALID, this does not change the behavior of the Composite. In particular, it se

[2020-01-17 03:56] stonier commented on #268
Aha, you've opened the door on a skeleton. We had the `update()` method call in there from day one, because, it probably should be there, but over the course of a few years and three different teams, we never made use of it.  Not surprising that it has some warts.

I've always wanted to rip it out, but that would make a special case of the composites since each one _is a_ behaviour and thus should

[2020-01-17 20:45] JimWhiteheadUCSC commented on #268
Oooh, if we're battling a skeleton, that must make us pirates!

My use case involves using behavior trees to interact with a web site via the Selenium library. I have a top level container (Sequence) that establishes a connection to a web browser via Selenium. This creates a session, whose id is written to the blackboard. Children of this node (also typically Sequence containers, each representing

[2020-01-19 06:16] nathantsoi opened #270 "`children=[]` in constructor (release/0.5.x)"
i'm using `release/0.5.x` w/ ros and have found the constructor version of `children=` does not work. adding children via `add_children` works, but using this is a bit strange as it requires building the tree (in code) from the bottom up. any suggestions what's going on w/ the order of calls when using the `children` parameter in the `composites` constructor?

[2020-01-20 05:22] stonier commented on #270
Not aware that anything with it is broken. Certainly the code in `release/0.5.x` looks fine.

https://github.com/splintered-reality/py_trees/blob/42d73682b5118a6edba2570563b188c1d67ab4d2/py_trees/composites.py#L64-L67

The `devel` branch dropped the map but should be functionally the same.

https://github.com/splintered-reality/py_trees/blob/c4eceb5005684c493255b514eb1b8cc37dbfee7e/py_trees/compos

[2020-01-20 15:23] nathantsoi commented on #270
thanks @stonier, i agree, i saw that code, it looks fine. i also [added some tests](https://github.com/nathantsoi/py_trees/commit/102ae8ff04aad1131ab43b1d84e91b33f2ab6268), all pass.

however, with this change:
[code]

I go from this (correct) debug output:

[code]

To this (incorrect debug output):

[code]

As you can see, I'm also using `py_trees_ros` (release/0.5.x) with ROS1 (melodic). Also, I

[2020-01-20 15:55] stonier commented on #268
Some thoughts how I'd usually do things which may help.

**Composite Customisation**

The reason we have not customised composites is because they are critical to visualising (either in design or at runtime) the flow of the graph. e.g. 'see a Selector, know it's a priority decider'. 'see a sequence, know it's a sequential work container'. As soon as you add custom magic under the hood, the visuali

[2020-01-20 17:31] nathantsoi commented on #270
update: i'm not sure why, but https://github.com/nathantsoi/py_trees/commit/6ae9e0ac00fc8393b762585363ca250c57f38b8d appears to fix the problem. any idea how i can cover this with a test?

[2020-01-23 05:29] stonier commented on #270
Aha, just noticed you mentioned you were using python3. The use of `map` in this code location got deprecated for python3 (668baa92).

Reason being that maps now produce a generator. If you don't actually use the result of a map call (we don't even assign it to anything), it will never generate anything and subsequently never executes the function you're mapping to. Hence your tree above collapses

[2020-01-24 23:31] stonier opened #271 "Display only the visited tree in ascii snapshots"
**Victory Conditions**

As stated.

[2020-01-25 01:11] stonier commented on #271
Resolved by #272 and released in v2.0.7

[2020-01-25 01:11] #271 closed, assigned to stonier

[2020-01-31 18:23] stonier opened #274 "Script that exercises the various ascii display modes"
Example script in #273.

Ideally as a test, practically as a demo.

[2020-02-03 15:08] #274 closed, assigned to stonier

[2020-02-03 15:11] stonier commented on #270
Just call that constructor with a few children and check that the length of the `Behaviour.children` variable is equal to the number you added. In the former, with `map` and `python3`, you'll get zero. In the latter, you'll get the correct number of children.

Then shoot a PR to the appropriate release branch.

[2020-02-06 13:41] stonier opened #276 "Rooted variables in namespaced blackboard clients are surprising"
A namespaced client with namespace `foo` registers a `/brilliant` key. Should it show up as `/brilliant` or `/foo/brilliant`? Currently it shows up as `/brilliant`

* [x] Decide on proper behaviour &rarr; **working as designed**
* [x] Make sure docs and tests are consistent with proper behaviour
* [x] Fix `py-trees-demo-blackboard-namespaces` (commented out code)
* [x] ~Ensure fixes percolate to o

[2020-02-25 14:13] stonier commented on #276
Worth noting that `/brilliant` can only utilise the `get`/`set` functions and cannot be called via `foo.brilliant` since that will endeavour to discover the value in `/foo/brilliant`.

[2020-02-25 14:29] #276 closed, assigned to stonier

[2020-02-25 14:29] stonier commented on #169
Dropping this as it's not solving a problem that needs to be solved.

[2020-02-25 14:29] #169 closed, assigned to stonier

[2020-02-25 18:11] stonier opened #278 "Silently permits behaviours to be added to multiple composites"
End result:

* multiple parents pointing to the same child
* child has only one parent (the last)

Will result in bad behaviour if the behaviour has state, otherwise results in potentially erroneous tip information and crazy dot graphs.

*Victory Condition*

Throw an exception if adding a child to a parent if the child already has a parent.

[2020-03-07 14:56] stonier commented on #278
Resolved by #281.

[2020-03-07 14:56] #278 closed, assigned to stonier

[2020-03-07 14:59] stonier opened #282 "Next Version Upgrades"
That would otherwise break api:

* Deprecate Chooser
* In `eternal_guard`, use `blackboard_namespace` instead of `blackboard_variable_name_prefix`
* `CheckBlackboardVariable` and `WaitForBlackboardVariable` use `ComparisonExpression`
* Update virtualenv script to use venv, not virtualenvwrapper

[2020-03-10 13:45] stonier commented on #202
Functionality now replaced by the `either_or` idiom, PR #283.

Chooser will deprecate in the next minor version release.

[2020-03-10 13:45] #202 closed, assigned to nobody

[2020-03-25 03:51] stonier opened #284 "Parallel not invalidating itself properly"
Example Tree:

[code]
Results in final snapshots as the root timeout fires:

[code]

Note...parallels are still running.

[2020-03-25 03:56] #284 closed, assigned to stonier

[2020-05-08 20:04] andrewbest-tri opened #287 "IndexError on empty tree with unicode_tree"
Repro:
[code]

expected:
[code]

actual:
[code]

[2020-05-08 20:10] andrewbest-tri commented on #287
May be deeper
[code]
output:
[code]

[2020-05-11 21:16] stonier commented on #287
**Root Cause**

Parallels (and Sequences, but not Selectors) store an index to the current child while ticking. Then when `tip()` is called, it does an on-the-fly lookup to find the current child via the index. This will fail if the children are added/removed between index generation and lookup.

**Solution**

Just deal with the ambiguity and return None if there's a problem. That will work around

[2020-05-11 21:24] andrewbest-tri commented on #287
My 2c,

Sequence: Seems fine. Update the index of current child when others are prepended. Though, it won't make any sense because the sequence will go back and run the new higher priority won't it?
Parralel: Does current_child make sense for parallel? If they're all running anyway?

[2020-05-11 23:09] stonier commented on #287
You're getting it confused with selectors I think.

You're right, it logically should have none (all failing or invalid), one or multiple current children. I made a pragmatic decision there because parallels came into py_trees well after the other composites had been established and moving to multiple tips would have been highly disruptive for little gain - if there is more than one current child,

[2020-05-11 23:22] stonier opened #288 "Plurality for Current Child / Tip on Parallels"
**History**

Parallels came in post selectors & sequences and as a result, api had already formed around `current_child` and `tip()` for composites and subsequent tooling (visualisation) which worked on the assumption of at most one current child / tip.

Logically a parallel should have none (all failing or invalid), one or multiple current children.

**Current**

If there is more than one current

[2020-05-11 23:22] stonier commented on #287
Plurality issue - #288.

[2020-05-14 13:12] #287 closed, assigned to nobody

[2020-05-14 13:23] stonier commented on #287
Released in `v2.0.15`.

[2020-06-05 16:17] fedetask opened #291 "Call a subtree with arguments"
I read through the whole documentation but I didn't really find an answer to this question:
Is it possible to define a sub-tree that takes some parameters as input? One example: a robot may have a `MoveTo(destination)` that can be used many times in the behavior tree, with different locations as `destination` parameter. What is the best way for achieving this?

[2020-06-06 14:42] stonier commented on #291
Might need you to further explain - your question seems to be asking something different than your examples.

Pytree generally refers to this pattern as an `idiom`. You can find examples [here](https://github.com/splintered-reality/py_trees/blob/devel/py_trees/idioms.py). When it comes to be robots, we used to define docking as an idiom - it was a subtree composed of actual docking/undocking, led

[2020-06-06 18:08] fedetask commented on #291
Thanks, I did not express myself clearly, but you gave me a good overview.

Yes, basically the robot will go to different destinations depending on external factors -e.g. if battery low `MoveTo(charging_station)`, if there is an object to pick `MoveTo(object)`, etc. The `MoveTo(destination)` always have the same structure (plans the path, performs the motion commands, etc) but is re-used in differ

[2020-06-07 00:42] stonier commented on #291
Ah, you want to communicate between behaviours. There is the blackboard for that. For this you'll need something like:

* Battery behaviours which catch external battery status and reflect it to the blackboard. Quite likely you'll want these running every tick.
* Goal choosing behaviours which read battery status from the blackboard and "write charging_station | object" back to the blackboard in a

[2020-06-25 14:50] fedetask commented on #291
Yes, it helps! Thank you. Is it recommended to use the blackboard to make something relatively heavy visible from all behaviors, for example a video frame that is updated at every tick?

[2020-06-26 18:33] stonier commented on #291
It should be fine (sans knowing more details). We've dumped images there before. There is no difference to sharing a variable out to all your behaviours via some other mechanism or using a variable provided on the blackboard - it's the same consumption in memory. There should be no copy in a blackboard `set()` call either - the blackboard keys merely point to the objects you pass to it. This one-s

[2020-06-27 08:42] fedetask commented on #291
Ok, understood. Thank you very much!
I'm closing  the issue since all my questions were answered.

[2020-06-27 08:42] #291 closed, assigned to nobody

[2020-06-29 14:16] UniBwTAS opened #292 "Release for ROS Noetic"
Will there be a release for ROS Noetic?

[2020-06-29 14:25] UniBwTAS commented on #292
Oh I see I opened the issue in the wrong Project. So I will close it here and open it in py_trees_ros.

[2020-06-29 14:25] #292 closed, assigned to nobody

[2020-07-21 02:39] #282 closed, assigned to stonier

[2020-07-28 08:50] fedetask opened #299 "Eternal guard when conditions return Running"
Hi,

Is there a way of obtaining the same behavior as EternalGuard, but having conditions that are actually subtrees that can return RUNNING, in which case the right subtree is not ticked, and this "EternalGuard" returns RUNNING?

[2020-07-28 09:11] fedetask commented on #299
Now that I think about it, what I need is only a Sequence node that does not get stuck in the RUNNING children, but every time it's ticked it executes the sequence from the beginning until one child returns RUNNING or SUCCESS.

How can I obtain such a behavior? Should I create a new Composite?

[2020-07-28 19:13] stonier commented on #299
You might be able to do that with:

[code]

That will return FAILURE if the sequence returns FAILURE, SUCCESS otherwise. The only caveat is if you're depending on the root of that subtree returning RUNNING, which would be odd, since you're actually terminating execution here.

If that's a common pattern, I'd usually add that to a library as an idiom (see `py_trees.idioms` for examples) rather than

[2020-07-28 19:29] stonier commented on #299
What you've described in the second comment above is exactly a selector, so ... questions:

* If the first child fails, does it need to move onto the next child (Selector behaviour) or immediately abort with FAILURE?
* If the first child returns SUCCESS, should it proceed to the next child or return immediately?

[2020-07-28 19:37] stonier commented on #299
I think what you describe is more of a memory-less selector, not a custom sequence. Opting for idiom style, perhaps this serves:

[code]

Here FFF->F, FFR->S, FFS->S, FSI->S, etc and it will always terminate running children at the end of the tick if there are any (so you'll be starting from scratch next tick). The only point you might care about is that the above is not blocking, i.e. the root ne

[2020-08-10 18:22] stonier opened #300 "SetBlackboardVariable with a value generator"
**Motivation**

Currently accepts only a constant value. Some use cases would like to write to the blackboard a value generated by a (non py-trees) method without having to create their own custom behaviour for this.

Request from @andrewbest-tri

**Victory Conditions**

`SetBlackboardVariable` can alternatively accept a value generator instead of a constant on construction.

[2020-08-11 13:40] #300 closed, assigned to stonier

[2020-10-18 16:13] jmugan opened #303 "sequence, but check nodes every time"
Thanks for this great code. I'm trying to get the behavior of Figure 1.7 in the book [Behavior Trees in Robotics and AI](https://arxiv.org/pdf/1709.00084.pdf). If something goes wrong in one of the earlier tasks that was initially successful, I want it to go back and do that first, so the sequence starts again at that point. Like, if the robot runs low on battery, I want it to go charge and then g

[2020-10-19 13:57] stonier commented on #303
Wondering if you can provide a concrete description on exactly what you are trying to do, that might help.

If this is exactly what you're chasing, [idioms.pick_up_where_you_left_off](https://py-trees.readthedocs.io/en/devel/idioms.html?highlight=eternal%20guard#pickup-where-you-left-off) might be the pattern you are looking for (the dot graph there should be self-describing).

If you're looking f

[2020-10-19 14:47] jmugan commented on #303
Thanks for your response. I'm looking to do an analog of the simpler one, the robot is doing something, get's interrupted with a low battery, and needs to go back to what it was doing before. There is no need to save any complex state of what it was doing before; it just needs to go back to that task. I don't see how the PickupWhereYouLeft will continue until the task is done. If the "High Priorit

[2020-10-19 14:53] jmugan commented on #303
Maybe you could put an inverter decorator on HighPriority task so that if it succeeds, it looks like it failed, and the robot will do the next thing. This means that if it needs to recharge its battery and it is able to do so, the robot can go about its business. But if it fails to recharge its battery, the behavior returns with Success. It seems like this might work, but the semantics seem weird.

[2020-10-19 15:15] stonier commented on #303
You basically want that high priority task to return FAILURE once your battery is high enough and RUNNING | SUCCESS otherwise.

Usually you'll have it returning RUNNING, with some subtree attached that flashes notificaitons to the users (e.g. led's / sound), moves to dock, idles in the dock. e.g.

* Selector
  * Parallel (High Priority Subtree Root)
    * Check for battery low (SUCCESS if low, FAI

[2020-10-19 15:45] jmugan commented on #303
Cool. It seems like the only downside is that you need the recharge battery behavior to return Failure when it succeeds, which is a little confusing. But I can live with that. Thanks for all of your help.

[2020-10-19 19:24] #303 closed, assigned to nobody

[2020-10-24 03:33] stonier commented on #303
Shouldn't be too confusing here - separate into two parts. A 'guard' that returns failure if the battery gets high enough and a _recharging_ subtree that is RUNNING (that part need never return failure in simple cases). I usually name that Parallel something like "Need Recharging?" then it's easier to grokk, especially if you think in terms of GREEN/YES, RED/NO instead of SUCCESS/FAILURE.

You wil

[2020-10-24 05:38] jmugan commented on #303
Makes sense. Thanks for your help!

[2020-11-25 22:49] pitosalas opened #305 "Two line program gives AttributeError"
From lots of googling I think this must be some kind of path or config problem but I reduced it to its absolute minimum and it still happens!  I am running on Ubuntu in a VS Code Web Playground Terminal Shell (not that this should matter). I am using Python 2.7.17. I am running in an account with ROS melodic configured. But this sample file is running all by itself in my ~ directory. I don't recal

[2020-11-30 03:10] stonier commented on #305
Closing out, resolved over in https://github.com/splintered-reality/py_trees_ros/issues/170 to be a mis-match in versions (script using 2.x, library was 0.6.x)

[2020-11-30 03:10] #305 closed, assigned to nobody

[2021-01-10 16:43] stonier commented on #270
Aging this one out (not planning to work on p3 compatibility for old versions). Accepting PR's for it though.

[2021-01-10 16:43] #270 closed, assigned to stonier

[2021-01-10 16:48] stonier opened #308 "Problems with tip() in 0.6.x and 0.7.x"
Some small issues were uncovered around tip/decorators in `1.x` / `2.x`. See #175 and #181. The test suite of interest is in `test_tip.py` of those release branches. This currently highlights various failures on `0.6.x` and `0.7.x`.

* Decorator-child transmission of tip is in some cases, not communicated (gets blocked at the decorator)
* Children-free sequences and selectors fail the tip test

[2021-02-04 04:54] jbcpollak opened #311 "It would be useful to have a Chooser / LatchedSelector that steps through behaviors until one returns success."
What I'm looking for is something I've know as a [`LatchedSelector`](https://github.com/6RiverSystems/blueshell#latchedselector):

In the case of py_trees, I think this would be describes as:

* Ticks each child subtree until one of them returns SUCCESS or RUNNING, then returns that value.
* If we exhaust all the children, return FAILURE.
* If a child subtree returns RUNNING, subsequent ticks star

[2021-02-07 19:52] wafts95 commented on #85
Hi everyone, sorry I'm late for the conversation :p

I have read through both threads on the topic of Sequences without memory (#85 and #96), and I have also evaluated the eternal guard and pick-up-where-you-left-off (PUWYLO) idioms.
I feel like the idioms offer very powerful solutions for complex behavior modelling, however some behaviors are much simpler than the example use-cases put forth by t

[2021-02-08 03:13] stonier opened #313 "Sequences w/o Memory, Selectors w/ Memory"
Thread for designing and tracking an implementation of these in `py_trees.` NB: the current composites include Sequences w/ Memory and Selectors w/o Memory.

There have been numerous requests for these and at this point, the surprise at not supporting these paradigms is probably greater than the additional complexity it introduces. That complexity shouldn't be too great if handled in an optimal wa

[2021-02-08 03:14] stonier commented on #85
Thanks for the excellent writeup @wafts95. Hot on the heals of [this comment](https://github.com/splintered-reality/py_trees/pull/312#issuecomment-774706013) too (possibly you read that).

Opened up #313 to track work in this direction.

[2021-02-08 03:14] #85 closed, assigned to stonier

[2021-02-08 17:49] wafts95 commented on #85
Very hot on the heels indeed @stonier! I hadn't seen [your comment](https://github.com/splintered-reality/py_trees/pull/312#issuecomment-774706013) on the other thread when I wrote this, so it's a nice timing :)
I will continue my discussion on the other thread then.

[2021-02-08 17:53] wafts95 commented on #313
Hi @stonier, do you have some preferred/ defined contributing guidelines? I may have some work done in the direction of this Issue that we could use.

[2021-02-11 04:24] stonier commented on #313
On request, it does now! See [CONTRIBUTING.md](https://github.com/splintered-reality/py_trees/blob/devel/CONTRIBUTING.md), via PR https://github.com/splintered-reality/py_trees/pull/315. Let me know if you have questions.

[2021-02-12 02:30] sachit-wp commented on #313
I support this noble endeavor. Looking forward to the design notes.

[2021-02-13 04:33] stonier commented on #311
Closing out, will be discussed nad implemented in #313 along with Selectors that are unlatched (have no memory).

[2021-02-13 04:33] #311 closed, assigned to nobody

[2021-02-13 04:40] stonier commented on #313
Design question: should the selector with memory advance or stop if a running child fails? e.g.

[code]

The original Chooser in this library stopped. @jbcpollak advances with his implementation in PR #312. Does anyone here have a use case that doesn't advance? If you're familiar with other tree libraries, what do they typically do with their implementations?

[2021-02-13 05:03] jbcpollak commented on #313
I don't understood the 2b option. How would that work with multiple options? When does ever advance to Bar?

We did have a use case were we wanted to start down one path, but then if it failed _not_ try the alternative path. I don't think this is equivalent to the 2b option either - we solved this with a sequence and inverted guards on each child. That feels more like an idiom than a new type of c

[2021-02-13 05:09] stonier commented on #313
I added a preceding priority to the example to be clearer.

2b is exactly as you described. If, in the above example, `Foo` had failed immediately, it would have advanced to `Bar`.

I feel like 2a is suprising. The higher priorities preceding `Foo`, were not explored due to the memory, but it permits exploration of those lower priorities (feels like I'm being biased to the peasants :)).

I feel li

[2021-02-13 05:16] stonier opened #316 "BlackboardToStatus behaviour"
The converse of the [StatusToBlackboard](https://py-trees.readthedocs.io/en/release-2.1.x/modules.html#py_trees.decorators.StatusToBlackboard) decorator. NB: `CheckBlackboardVariableValue` doesn't suffice as it only returns a binary state (`S||F`), never `RUNNING`.

[2021-02-13 12:19] jbcpollak commented on #313
I see the utility in 2b, but seems like a specialized case, I've seen that often far fewer times (in my experience). To me whole point of a selector is you step throughout each branch in order until one child succeeds. It's an OR sequence, if it takes some time (ticks) for a child to decide it can't do a job, that's what I (personally) intuitively expect. But clearly that doesn't match everyone's

[2021-02-15 18:57] andrewbest-tri commented on #313
I don't really grok the use-case of the selector with memory, though I was adamant about sequences without memory :-). I would expect 2a to be the default though. It keeps the concept of "memory" a little more consistent. In other composites, as I recall, memory means the composite remembers the last child it ticked but didn't change the fundamental behavior of the composite aside from that. 2b ch

[2021-02-15 19:31] sachit-wp commented on #313
BTW I'm not understanding how state 1 is even valid?

Shouldn't the Selector return Success as soon as One returns SUCCESS. Did you mean you want to use something like this?

# TICK 1
Selector w/ Memory (R)
 - One (F)
 - Foo (R)
 - Bar (-)

And on Tick 2, start ticking at Foo instead of One. If Foo returns Failure, move on to tick Bar. If Foo returns Success, then return Success.

[2021-02-16 15:49] jbcpollak commented on #313
@sachit-tri - yes, you are right, that is the (well, _my_ I guess, lol) expect behavior. You are right the OP has a typo, if One returns (S) the selector is done.

@andrewbest-tri, re:

Our usecase is something like:

Selector w/ Memory (Maybe "ResumingSelector" or something is a better name? IDK)
* FindTheThing
* GetSatelliteReconnaissance
* RunAndHide

So basically, try and find the thing. You'l

[2021-02-22 02:58] stonier commented on #313
Aye, oops on my part. Corrected to (F).

[2021-02-24 14:57] stonier opened #320 "Scope idiom"
Feature request from someone at TRI:

* `On Entry` behaviour/subtree
* `Body` behaviour/subtree
* `On Body Failure` behaviour/subtree
* `On Body Success` behaviour/subtree

The assembly should faithfully reproduce a typical python `try` (Body, On Success) / `except` (On Body Failure) block, guarded by `On Entry`.

NB: The `On Entry` component could ostensibly be left out as it is easy enough to in

[2021-02-24 16:11] #316 closed, assigned to stonier

[2021-03-10 15:49] jbcpollak opened #322 "Publish as PEP 561 compliant typed) package for mypy/etc"
I see much, if not all of py_trees is now typed. Could we have it published as a typed package?

https://mypy.readthedocs.io/en/stable/installed_packages.html#making-pep-561-compatible-packages

Currently we need to tell mypy to ignore py_trees, but it would be great to be able to extend our typechecking through our BT code.

If I'm reading the documentation correctly, it seems all that is needed

[2021-03-14 20:30] stonier commented on #322
Looks like a thing. I've only been incrementally adding the typing as I go, but no reason not to go all the way, shouldn't be much effort either.

I'll have to do some learning to figure out what mypy is doing in more detail - let's leave this issue open here to track that work.

[2021-03-15 12:08] jbcpollak commented on #322
mypy is just an optional typechecker that validates your typing prior to
runtime. It runs through your library or program to make sure all your
calls are valid. We've caught a number of bugs and misunderstandings with
it.

[2021-03-28 18:38] wafts95 commented on #313
Hi, sorry for being late to the party.

The classical formulation of BTs theory clearly defines the behavior of Selector and Sequence nodes, whether or not they have memory. In (1) this classical formulation is explained, which states that a Sequence node Succeeds if all of its children Succeed, and Fails if any one of its children Fail. A Selector node Succeeds if any one of its children Succeed,

[2021-03-28 18:50] jbcpollak commented on #313
@wafts95 this is my view as well, thank you for explaining it more clearly than I could.

[2021-04-27 07:07] NickNair opened #323 "Visualization Tool like Groot"
Is there any visualization tool that we can directly integrate with our py_trees implementation. I'm looking for something like groot that is integrated with the Behavior-Tree.CPP package.

[2021-04-27 10:44] sachitv commented on #323
You can use https://github.com/splintered-reality/py_trees_js

[2021-04-27 14:42] stonier commented on #323
If you're already in a ROS environment, you can make use of the ros implementation of `py_trees_js` in https://github.com/splintered-reality/py_trees_ros_viewer.

OR use that as a template to roll `py_trees_js` into an application (qt, web, ... ) of your own.

[2021-04-27 15:11] NickNair commented on #323
Isn't that package for ROS2. I was looking for something compatible with  ROS noetic.

[2021-04-27 15:54] stonier commented on #323
A little bit clunkier and doesn't give you the blackboard but https://github.com/splintered-reality/rqt_py_trees gives you the equivalent runtime viewer in ROS1.

[2021-05-04 19:31] stonier commented on #313
Not sure that holding to a classical definition for a use case it wasn't originally defined for is quite the right justification, but I'm agreed on 2a) since it's what is being voted for. That it happens to fit the classical definition is a bonus.

PR is up for the selector-side of this if you care to look (#324).

Apologies for the delay - family and winter (:snowboarder:) pulled me away for a wh

[2021-05-10 04:00] stonier opened #326 "Consistent defaults for composites with memory"
Selectors w/ memory and Sequences w/o memory slipped in via #324, #325 with defaults that didn't break api, but weren't really consistent inasmuch as the former has a deafult of False and the latter a default of True.

Release 2.2.x with consistent defaults.

[2021-05-10 04:02] #323 closed, assigned to stonier

[2021-05-10 04:05] stonier commented on #313
With #324 and #325, this has slipped in as a patch release in the `v2.1.x` branch (`v2.1.5`) using defaults that don't break api for current users. I'll let this iterate for a while before releasing `v2.2.x` with better defaults, #326.

@sachit-tri, @jbcpollak and @wafts95, thanks for your input to help steer this!

[2021-05-10 04:05] #313 closed, assigned to nobody

[2021-05-10 04:06] stonier commented on #299
With #325 (`v2.1.5`) there are now Sequences w/o memory that can do what you're looking for.

[2021-05-10 04:06] #299 closed, assigned to nobody

[2021-05-11 14:12] stonier commented on #322
@jbcpollak Checking in to see If I understand next steps correctly.

* First step - get py_trees to be mypy conformant
* Second step - add a `py.typed` file to the root of the `py_trees` package, then mypy will depend on `py_trees` typehints to help in correctly interpreting types in your downstream packages (correct?)

What I'm not really grokking is `Currently we need to tell mypy to ignore py_t

[2021-05-12 03:57] stonier commented on #322
Ignore the preceding comment.

Walked into the situation with `pydot` and discovered documentation at https://mypy.readthedocs.io/en/stable/running_mypy.html#missing-type-hints-for-third-party-library. Essentially, it's noisy by default to provide visibility that there are untyped packages below. Need to suppress that.

[2021-05-21 12:10] eriytt opened #328 "Tree visualization broken in 2.1.5"
In py-trees 2.1.5, I might get for example:

                --> WaitForBlackboardVariable [✓] -- '<some key>' found
                --> WaitForBlackboardVariable [✓] -- '<some key>' found

and in the very next tick, I get:

                --> WaitForBlackboardVariable [-] -- '<some key>' found
                --> WaitForBlackboardVariable [-] -- '<some key>' found

It seems like the behavior sta

[2021-05-21 14:17] stonier commented on #328
The parallels visualisation problem has been a long standing one, #132. We've at times, made sure to publish the last N states of the tree for logging purposes on global timeouts. That works around that problem and was actually useful to get the few states leading up to it as well.

There's quite likely some problem inadvertently introduced you're alluding to here though, but from `2.1.4` to `2.1.

[2021-05-22 12:38] siteks opened #329 "Semantics of sequence without memory are wrong"
In 2.1.5 it's good to see sequence without memory, but the semantics seem to be wrong. From [1], I would expect the tree:
[code]
to return RUNNING on the first tick, then SUCCESS on the second. But what actually happens is that the running leaf node is invalidated on the second tick and so always returns RUNNING. It seems to me it should behave analogously to selector without memory, in that a pre

[2021-05-24 08:48] eriytt commented on #328
In the report we generate, we also include quite a few last states for trouble shooting. A potential problem is that not enough of them are included.

This was trickier than I thought, and it turns out that the very last state is actually the same in both versions when this occurs. However, the state _before_ that differs. And you're right, it has nothing to do with parallels. It's because sequenc

[2021-05-24 14:20] stonier commented on #328
Ah, got it. I should probably have delayed this till the `2.2.x` series since it is a change, albeit neither an api nor algorithmic one. So one option is to revert this and bring it in for `2.2.x` if indeed it is the right thing to do.

So, is it the right thing to do? Example:

[code]

My hope was that this code would help clearly highlight what was actually ticked. In the first viz, you can safe

[2021-05-24 14:28] stonier commented on #328
Re logging the last few states - you might want to consider storing last few `tree changes` and/or slower periodic snapshots. Some [example code](https://github.com/splintered-reality/py_trees_ros/blob/devel/py_trees_ros/trees.py#L146) which shows what is done in the ROS implementation.

I've often thought about having some lower level, purely pythonic logging implementation that could be replayed

[2021-05-24 14:30] stonier commented on #328
Back to this ticket - short term options:

* Leave it as is, i.e. infer the state
* Revert this and re-introduce it in `2.2.x`
* Revert this, leave the ghosts behind

With a long term option of leaving the ghosts and fading out unticked parts of the tree in the display methods. Thoughts?

Notes to self: Keep in mind, `S` or `F` ghosts are fine, `R` need to be handled with prejudice to avoid dangli

[2021-05-24 15:53] stonier commented on #329
Certainly looks like an inconsistency here, I'll delve into it when I've a little more time (soon).

Resources:

* Definitions - [Unified BT Framework](https://www.csc.kth.se/~almc/pdf/unified_bt_framework.pdf), [Wikipedia](https://en.wikipedia.org/wiki/Behavior_tree_(artificial_intelligence,_robotics_and_control))
* BehaviorTree.CPP - [ReactiveSequence](https://github.com/BehaviorTree/BehaviorTre

[2021-05-25 09:18] eriytt commented on #328
I think the conflict here is being able to visualize what happened _this_ tick vs. visualizing _the entire run_, and both cases are totally valid.

I can't say that I fully understand how the fading would look, but from my own experience, hiding parts of the tree could potentially confuse new users, even though with some experience, you realize that it is more effective. This is actually the way w

[2021-05-25 13:29] stonier commented on #322
Will be released in `v2.1.6`, but not immediately - dropping a couple of other fixes into that release as well.

[2021-05-25 13:29] #322 closed, assigned to stonier

[2021-05-25 15:56] siteks commented on #329
I agree that the literature is incomplete in specifying the handling the semantics of executing a complete tree i.e the handling of orphaned running nodes. I look at this in [my thesis](https://research-information.bris.ac.uk/en/studentTheses/onboard-evolution-of-human-understandable-behaviour-trees-for-rob) Sections 3.1.4-3.1.5. In general, a running node (indeed, complete subtree) should be rese

[2021-05-27 04:36] stonier opened #331 "Improvements for visualisation"
The display module has a few problems.

**Must-solve**

* The updated status of each and every ticked behaviour must be reflected for visualisation purposes and not lost. This currently occurs when composites / decorators invalidate behaviours _after_ the behaviour tick but _before_ visualisation for logistical reasons to avoid dangling runners. Refer to #132 for an example.

**Nice-to-haves**

*

[2021-05-27 04:39] stonier commented on #328
* Reverted the display change for sequences w/ memory in #330. Rationale - it was a suprising/unecessary change in a patch release.
* Notes from this discussion on how to move the display module forward crystalised in #331.

@eriytt thanks for your input!

[2021-05-27 04:39] #328 closed, assigned to stonier

[2021-05-28 14:34] jbcpollak commented on #322
oops, finally got time to test and just realized `v2.1.6` wasn't released yet. I'll happy validate as soon as it comes out, thanks for working on it, 👍

[2021-05-31 19:30] stonier commented on #322
`v2.1.6` out the door :)

[2021-05-31 21:26] stonier opened #333 "Deprecate or remove Eternal Guard"
Pending a decision on sequences w/o memory (see #329), it should be ok to deprecate or remove this idiom as it can easily be instantiated with:

[code]

[2021-05-31 21:32] stonier commented on #329
That's a great writeup on tree algorithms. Been too busy just making things work rather than analysing, so love this. Especially `These are not difficult questions to answer, but the answers imply certain things.`. Resonates with many of the choices here and discussions we've had with folks.

I've added a link to it in my docs (if you don't mind), #332, as I think they're a great and easy read. If

[2021-06-01 15:13] jbcpollak opened #334 "create_behaviour_from_function spec'd to return `Any`"
calling `create_behaviour_from_function` like this:

[code]

results in this error from my_py:
` error: Returning Any from function declared to return "Behaviour"`

Looking at how `create_behaviour_from_function` uses the `type` function, I suspect this is more a mypy issue than py-trees, but it might be nice to explicitly declare the fuction return a `Behavior`

[2021-06-01 15:21] jbcpollak opened #335 "class Composite should explicitly declare current_child type"
class Composite should be declared as:

[code]

otherwise current_child is typed as None according to the Composite.__init__ method.

[2021-06-01 15:44] jbcpollak opened #336 "ComparisonExpression could probably use Generics"
I think ComparisonExpression could benefit from generics to improve type specificity. What happens now is that because operator is declared to take two `Any`s, mypy returns:

` error: Returning Any from function declared to return "Behaviour"`

for a lot of common use cases, because the variable and value are both `Any`.

I think defining the class like so might help (I can try and test in the fut

[2021-06-01 15:48] jbcpollak commented on #336
As an aside, what's the value of having the `value` variable at all? Since its fixed, why not just have the operator take a single parameter, the current value of `variable`? IE, what's the difference between:

[code]

and:

[code]

also BTW, if `value=None`, then we'd want to us `is not None` to be correct, so I've started doing things like:

[code]

which makes mypy happy but seems redundant.

[2021-06-02 16:45] jbcpollak commented on #334
came across another example that causes the same error:

`return py_trees.behaviours.Failure()`

results in:

`error: Returning Any from function declared to return "Behaviour"`

[2021-06-02 20:15] jbcpollak opened #337 "Selector __init__ is incorrectly typed"
Selector's init is currently (2.1.6) typed as:

[code]

but should match Sequence and Parallel:

[code]

in the current state, you can to something like this:

`py_trees.composites.Selector('MySelector', [... behaviours here])` and mypy will allow it, but the list I guess gets interpreted as the boolean and the Selector has no children.

Explicitly setting memory, or using `children=` as a named v

[2021-06-02 21:03] jbcpollak commented on #335
update: I discovered this happens with the mypy rule `check_untyped_defs = True` enabled in a project. I'm going to look more into that rule and if it can be tweaked on a per-dependency basis.

[2021-06-02 21:12] jbcpollak commented on #337
seems my initial diagnosis is wrong and this in an inherent problem with using boolean positional arguments in python. It looks like this may be a solution once it lands:

https://github.com/python/mypy/pull/10557

[2021-06-02 21:58] jbcpollak commented on #335
looking into the `check_untyped_defs` option, I definitely think its ideal to enable, and it does warn about this problem, as well as others. I can make a PR to clean up the errors it causes.

https://mypy.readthedocs.io/en/stable/config_file.html#confval-check_untyped_defs

[2021-06-03 13:36] stonier commented on #337
Aside from the boolean thing, these are examples of cases mypy missed when I ran it on the package (`mypy -p py_trees`). Not sure I understand why mypy missed them.

How are you catching these? The only thing I can guess at is perhaps because you're running it on the tests as well?

[2021-06-03 13:36] stonier commented on #337
Also - should fix the typing for children regardless. It should be `typing.Optional[typing.List[behaviour.Behaviour]]`.

[2021-06-03 15:33] jbcpollak commented on #337
two reasons: first, see the https://github.com/splintered-reality/py_trees/pull/338 PR, where I enabled mypy to run on tests as well. Second, when upgrading our own project to use the new release, a lot of things broke, and this was one of the tricky ones.

its because mypy is a bit "soft" by default. I have a second branch I'll create a PR for in just a minute that will enable additional checks.

[2021-06-04 14:38] jbcpollak commented on #329
I just want to add a reference to [the way Blueshell handles this](https://github.com/6RiverSystems/blueshell#sequence) as well:

* Sequence (no memory)
** Sends an event to each child until one of the returns FAILURE, or RUNNING, then returns that value.
** If all children return SUCCESS, return SUCCESS.

* LatchedSequence (memory)
** Sends an event to each child until one of the returns FAILURE,

[2021-06-08 02:17] rudyg-123 opened #340 "Sequence class (>2.1.4) adds characters which are not accepted by codecs"
![image](https://user-images.githubusercontent.com/20915439/121111868-f8aea280-c852-11eb-81b6-e633ea173053.png)

When using the render_dot_tree function under py_trees.display, I encountered an issue whereby the writer could not successfully parse Sequence classes. I created a graph with a simple Behaviour Tree for rendering and it continuously failed unless reverted back to version 2.1.4 of py_tr

[2021-06-08 02:30] rudyg-123 commented on #340
![Picture2](https://user-images.githubusercontent.com/20915439/121113408-5c39cf80-c855-11eb-98f6-da13df3cf589.png)

The circled-M is not included in the initialisation of the class - it was added inherently by the py_trees module for some reason.

[2021-06-08 13:44] stonier commented on #340
Ah, yes. I added some additional symbols to distinguish between variants of parallels, sequences and selectors in c24ceace, but did not call `has_unicode()` first to make sure it would gracefully fallback to ascii symbols like the text tree displays do.

Definitely a bug. Giving it priority.

[2021-06-08 13:46] stonier commented on #340
Q: Does your `render_dot_tree` execution fail on all unicode symbols or does it only fail with circled-M?

You can check the console's support by navigating to the `py_trees` package, wherever it is on your system (don't need to care about paths) and execute:

[code]

Not sure if the constraints of the console are the same as those applied when calling `render_dot_tree`, but might give us a clue.

[2021-06-09 02:07] rudyg-123 commented on #340
![Uploading image.png…]()

[2021-07-11 22:11] pitosalas opened #341 "What version to use: Python 3.x, Ubuntu 20.04"
Which of the versions should I use? I will be using it with ROS1 Noetic but I believe your ROS support is all on ROS2. That's fine. But for Ubuntu 20.04 and Python 3.x, should I use py-trees 1.0 or some other one? Thanks!

[2021-07-12 06:32] stonier commented on #341
It all depends on what your use case on 20.04/python3 is. For ROS related requirements, do look up the [py_trees_ros/README](https://github.com/splintered-reality/py_trees_ros/blob/devel/README.md).

* ROS 1 Noetic &rarr; `py_trees 0.7`, `py_trees_ros 0.6`, `rqt_py_trees 0.4`, ...
* ROS 2 Foxy &rarr; `py_trees 2.1`, `py_trees_ros 2.1`, `py_trees_ros_viewer 0.2`, ...
* No ROS &rarr; any `py_trees >

[2021-07-12 12:18] pitosalas commented on #341
Hi Daniel

Thanks, very useful. BTW what do you mean "for compatibility" ? With what?

Pito Salas
Faculty, Computer Science
Brandeis University

[2021-07-12 14:25] pitosalas commented on #341
Hi Again

When I install I am unable to install on Python3.7, Noetic. Any quick tip?

and

Pito Salas
Faculty, Computer Science
Brandeis University

[2021-07-12 14:40] stonier commented on #341
If you had existing code running on `0.6` with python 2, you might not want to make the big jump to `2.1` immediately.

You might be missing some information in your post above - I'm getting blanks before, after the `and`. How did you try and install? What errors are you seeing?

[2021-07-12 14:44] pitosalas commented on #341
Thanks!!

Oh. I had a couple of images in there. Let me type in the text. Sorry.

Pip install py_trees_ros -> a long stack trace ending with client error: not found for url: ...

And

Pip install rqt_py_trees -> Requirement already satisfied in rqt_py_trees in /... melodic ... even though I have the default python set to 3.x and noetic as the default.

Now, if my goal is indeed to work with Ros, d

[2021-07-13 16:48] stonier commented on #341
**Pip**

* If you're just doing python-only work, `py_trees` from pip is a good solution (none of the ros packages are on pip)
* If you're in a ROS workspace, don't use pip, fetch them all from ROS debs

**py_trees_ros e.t. a.l.**

There are two reasons you might want to use these.

**Ros Behaviours** - to be honest, there's not much here and you could recreate your own behaviours using these as i

[2021-07-13 16:51] stonier commented on #341
* If you skim through the [noetic tutorials](http://docs.ros.org/en/noetic/api/py_trees_ros/html/tutorials.html) you'll get a better idea of what's usfeul (skip straight to the animated png's).
* See also the image of the rqt plugin at http://wiki.ros.org/rqt_py_trees

[2021-07-14 13:27] pitosalas commented on #341
The link is to a page that talks about kinetic. I assume that's still the right page, yes?

Pito Salas
Faculty, Computer Science
Brandeis University

[2021-07-14 13:46] pitosalas commented on #341
I'm really sorry about these dumb questions but I am trying to install it correctly.

Now on a working Noetic installation I get Unable to locate package for:

sudo apt install ros-noetic-py-trees
sudo apt install ros-noetic-py-trees-ros
sudo apt install ors-noetic-rqt-py-trees

And all of those, chasing the last two dashes to underscores. I've done an sudo apt-get update.

Pito Salas
Faculty, Com

[2021-07-15 00:26] pitosalas commented on #341
I figured it out. Sorry for the bad question.

[2021-07-15 00:26] #341 closed, assigned to nobody

[2021-08-18 16:15] JakobDomislovic opened #342 "How to call setup() method from non-main thread?"
I am doing **setup()** method (from _py_trees.trees.BehaviourTree()_) in non-main thread and I am getting following error:
`ValueError: signal only works in main thread`. How to deal with this without transferring setup() method in the main thread?
I am also providing the whole trace below :)

[code]

[2021-09-24 12:41] jstyrud commented on #329
Another +1 for siteks suggestion.

I found this to be problematic when trying to put a memory node under a sequence w/o memory since the memory is cleared every tick for the node with memory. Doing the whole eternal guard subtree seems a lot more complicated.

[2021-12-02 18:47] tejalbarnwal opened #344 "Changes to action.py"
If I try to add/ modify the `py_trees/demos/action.py` it doesn't get reflected in the terminal output? Do I have to run the make file? How can I reflect on those changes?
Further, cant we run the .py file here by just doing `python action.py`? If not, why so?
I am sorry for asking such dumb questions, but I am just a beginner.

[2021-12-03 01:02] stonier commented on #344
Depends how you're consuming that module. Are you running `. ./venv.bash` and then `py-trees-demo-action-behaviour`? That should catch your changes.

If you've some other workflow, python cache files might be getting in the way, or you might have another py-trees installed on your system that is getting in the way.

I am sorry for asking such dumb questions, but I am just a beginner.

It's got no

[2021-12-03 09:02] tejalbarnwal commented on #344
@stonier that solves my problem. Thank you so much!

[2021-12-03 09:02] #344 closed, assigned to nobody

[2021-12-17 18:01] stonier opened #345 "Redundant stop() in Parallels"
Can provoke it with this test script:

[code]
Output:
[code]

[2021-12-20 14:10] liangfok commented on #345
The reason why the redundancy is unexpected is because the documentation for `Behaviour.terminate()` specifies that it should only be called when the behavior finishes execution or was interrupted.

https://py-trees.readthedocs.io/en/devel/modules.html#py_trees.behaviour.Behaviour.terminate

[2022-01-04 14:35] spectereye opened #346 "ignore this"
seems my own setup problem so please delete

[2022-01-05 06:30] spectereye commented on #346
more info.: i tried on another pc without problem first time, but same issue met after `pip install --force-reinstall py_trees` ...

[2022-01-05 14:08] #346 closed, assigned to nobody

[2022-03-08 18:04] gycn opened #349 "Saving Tree & Blackboard State"
Hi, we're trying to use this library to control a dual arm manipulator to perform an assembly task. Sometimes we'll get errors in the middle of the task due to things like singularities or collisions, and we'll want to restart the task from where we left off. Is it possible to record the state of the tree and the blackboard so that this information is available for us to start in the middle? I saw

[2022-05-30 16:37] stonier commented on #349
The devil in the detail here - hidden state in behaviours.

Regular py_tree behaviours and user behaviours don't go as far as ensuring that state is exposed, capturable and reconstructable. That would raise the level of complexity of the library rather significantly.

I suspect however, you don't need to capture every single detail of the tree state (and hidden state). You could create your own po

[2022-05-30 17:01] stonier commented on #342
You could subclass `BehaviourTree` and write your own setup method that handles things as you need to. There's actually not much to the setup function, so this should not be too hard. See https://github.com/splintered-reality/py_trees/blob/devel/py_trees/trees.py#L47 - it's just using a threaded timer that relays to a callback that triggers the kill signal.

You could instead replace that with som

[2022-05-30 17:04] stonier commented on #342
If you decide on something generic that you think others might make use of, let me know - we can replace, or at least implement an alternative pathway for `setup` in this library.

[2022-05-30 21:59] stonier opened #351 "Tox infra for testing"
Make use of tox for testing now that `python3 setup.py tests` is going away . e.g. a typical `tox.ini`:

[code]

[2022-05-30 22:16] stonier commented on #351
[code]

[2022-05-30 22:27] stonier opened #352 "Review Seq/Sel with and Without Memory"
Should all be working.

* [x] Check classes, tests, documentation exists as desired
* [x] #329
  * #368
* [x] #326
  * #370

[2022-05-30 22:27] stonier opened #353 "Changelog and Release"
Wrapping up for 2.2!

* [x] #400
* [x] Published to Pypi
* [x] Release added to the github project, with notes

[2022-05-31 13:38] stonier opened #355 "Flake8 blocking pre-merge"
It came late to the party, so it's currently a nice-to-have only that gives a readout on many style errors. Fix them so they block.

[2022-06-05 14:33] stonier opened #356 "Sphinx build is broken"
[code]

[2022-06-05 14:37] stonier commented on #356
I'm guessing this is because of a new release of jinja2 (https://github.com/pallets/jinja/releases). Need to pin jinja2 to jinja2<3.1.0.

Ultimately should upgrade sphinx though (now v5!? Still on 1.8.5 here).

[2022-06-05 14:44] stonier opened #357 "Upgrade sphinx"
Getting old, tired and it's introducting bugs (see #356). We're on `v1.8.5`. Sphinx is on `v5.x.y`.

[2022-06-06 01:53] stonier opened #358 "Blackboard relative name multiply trims the namespace"
[code]

[2022-06-06 05:45] #351 closed, assigned to nobody

[2022-06-06 05:46] #356 closed, assigned to stonier

[2022-06-06 05:46] #358 closed, assigned to stonier

[2022-06-06 05:46] #355 closed, assigned to stonier

[2022-06-07 04:23] stonier commented on #340
To reproduce:

Setup a non utf-8 locale
[code]

Confirm that unicode is not available:
[code]

Then call the render demo to tickle the error.
[code]

[2022-06-07 04:37] #340 closed, assigned to nobody

[2022-06-21 01:54] #345 closed, assigned to nobody

[2022-06-21 13:21] stonier commented on #357
The aforementioned bug is fixed, so working for now.

NB: `v1.8.5` is the default in `focal`, `v4.3.2` in `jammy`. Consider upgrading once I move my development environment over.

[2022-06-27 14:47] stonier commented on #333
Note: #329 needs to be implemented as suggested for this to work.

[2022-08-01 16:16] aditya2592 opened #361 "Visualization without ROS"
Hi, thank you for this library. I wanted to ask if I am using only the core library and not the ROS2 version, is there still a way to visualize the tree during runtime using `pytrees_js` in a standalone manner?

[2022-09-13 15:29] stonier commented on #361
Sorry for the late reply. Aye, `py_trees_js` was designed for this. Just build around both your core tree application and the py_trees_js library to connect it with whatever communication means you have.

[2022-11-01 10:16] leeminju531 opened #363 "confusion of Docs"
Hi, I started to read docs of py_trees today, and have a question.

In Docs of py_trees, an Introduction page says as following:

![1](https://user-images.githubusercontent.com/70446214/199210312-4a01ad26-cce6-4568-ad45-eee8b24a8137.png)

and blackboard page as following:
![image](https://user-images.githubusercontent.com/70446214/199211126-2430ff0c-3991-4baa-93ba-60af5d50bb0a.png)

 this is a bit

[2022-11-02 01:23] stonier commented on #363
Sharing of data between trees vs sharing of data between behaviors in a single tree.

py_trees blackboards enable the latter, but you need to build something to enable the former.

[2022-11-02 03:39] #363 closed, assigned to nobody

[2022-11-23 14:28] narcispr opened #364 "Repeat/Retry decorator"
Do you plan to add a Repeat and/or a Retry decorator like behaviortreeCPP has? From what I've seen it doesn't exist and I think it would be quite useful. I understand that users can create their own decorators but I think this one would be nice to be part of the core library. Thank you very much!